# Pandas Basics Recap

## 1. Import the Pandas Library

Import Pandas (as __pd__) to your Jupyter Notebook.

In [2]:
# Import Pandas as pd
import pandas as pd

---
# Series Exercises


## 2. Create a Pandas Series from a given list

Below you are given a list of temperatures.

__Objective:__ Create a Pandas Series using the `temperature` list.

In [3]:
# Temperature list
temperature = [ 23, 21, 15, 20, 11, 14, 6, 2, 8, 14 ]

# Create the Series object below
temp = pd.Series(temperature)

# Print the result
temp

0    23
1    21
2    15
3    20
4    11
5    14
6     6
7     2
8     8
9    14
dtype: int64

### 2.1 Give a name to the Series object you just created

__Objective:__ Give the name __'Temperature'__ to the Series object __`temp`__, that you created above.

In [4]:
# Hint! The Series objects have an attribute called `name`

temp.name = "Temperature"
temp

0    23
1    21
2    15
3    20
4    11
5    14
6     6
7     2
8     8
9    14
Name: Temperature, dtype: int64

---
## 3. Create a Pandas Series from a given dictionary

Below you are given a dictionary of humidity values.

__Objective:__ Create a Pandas Series using the `humidity` dictionary. Give it the name __'Humidity'__ upon creation.

In [5]:
# Humidity dictionary
humidity = { 'a':62, 'b':60, 'c':57, 'd':58, 'e':56, 'f':55, 'g':57, 'h':53, 'i':55, 'j':54 }

# Create the Series object below, and give it a name
# Hint! The Series constructor has a parameter called 'name='
hum = pd.Series(humidity, name="Humidity")

# Print the result
hum

a    62
b    60
c    57
d    58
e    56
f    55
g    57
h    53
i    55
j    54
Name: Humidity, dtype: int64

### 3.1 Set a new Index to the Series object

__Objective:__ Change the index of the `hum` Series object, from `a,b,c,...,j` to `0,1,2,3,...,9`

__Note:__ The new index list is provided in `new_index`.

In [6]:
# The new index list to use
new_index = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Hint! The Series objects have an attibute called 'index'

hum.index = new_index
hum

0    62
1    60
2    57
3    58
4    56
5    55
6    57
7    53
8    55
9    54
Name: Humidity, dtype: int64

---
# DataFrame Exercises

## 4. Create a DataFrame from Series
__Objective:__ Create a DataFrame using the two Series we created above in steps __2__ and __3__. Let's call it `climate`.

__Note:__ You can use __any__ of the 3 methods we learned earlier:
* Using a Series Dictionary
* Using a Series List (and then Transpose)
* Using the Pandas `.concat()` method

In [7]:
# Create the DataFrame below
# climate = pd.concat([temp, hum], axis=1)
# climate = pd.DataFrame([temp, hum]).T
climate = pd.DataFrame({"Temperature": temp, "Humidity": hum})
climate

   Temperature  Humidity
0           23        62
1           21        60
2           15        57
3           20        58
4           11        56
5           14        55
6            6        57
7            2        53
8            8        55
9           14        54

### 4.1 Rename the Columns of the DataFrame

__Objective:__ Change the current column names to __'Celsius'__ and __'RelativeHum'__.

In [8]:
# Hint! The DataFrame objects have an attribute called 'columns'

climate.columns = ["Celsius", "RelativeHum"]
climate

   Celsius  RelativeHum
0       23           62
1       21           60
2       15           57
3       20           58
4       11           56
5       14           55
6        6           57
7        2           53
8        8           55
9       14           54

---
# 5. Create a DataFrame based on the given Table

__Replicate the following Table into a Pandas DataFrame.__

|      | Coffee | Sugar |
|------|-------------|----------|
|__0__ | 75 | 25 |
|__1__ | 60 | 40 |
|__2__ | 100 | 0 |
|__3__ | 40 | 60 |
|__4__ | 55 | 45 |

__Note:__ You can use any of the ways we learned, as long as you get the right result!

In [9]:
# Your code here
brew = pd.DataFrame([[75,60,100,40,55], [25,40,0,60,45]], index=["Coffee", "Sugar"]).T
brew

   Coffee  Sugar
0      75     25
1      60     40
2     100      0
3      40     60
4      55     45

---
# Challenge Exercises (If You Finished Early)

### Challenge 1 – Create a new Series

Build a new Series called `pressure` with 10 values of your choice (try integers).
<br>Give it the name `Pressure_kPa` and the **index** from your `temp` Series object.

In [10]:
# Your code here
pressure = pd.Series([2,1,4,56,3,7,7,45,4,9], name="Pressure_kPa", index=temp.index)
pressure

0     2
1     1
2     4
3    56
4     3
5     7
6     7
7    45
8     4
9     9
Name: Pressure_kPa, dtype: int64

### Challenge 2 – Add the new Series to the DataFrame

Add `pressure` as a new column to your `climate` DataFrame.<br>
Then print the DataFrame to confirm it now has three columns.

In [11]:
# Your code here
climate = pd.concat([climate, pressure], axis=1)
climate

   Celsius  RelativeHum  Pressure_kPa
0       23           62             2
1       21           60             1
2       15           57             4
3       20           58            56
4       11           56             3
5       14           55             7
6        6           57             7
7        2           53            45
8        8           55             4
9       14           54             9

### Challenge 3 – Do a simple calculation

Create a new column called `Fahrenheit` that converts Celsius to Fahrenheit using the formula `C × 9/5 + 32`.

In [15]:
# temp_f = climate["Celsius"] * 9/5 + 32
# temp_f.name = "Fahrenheit"
# temp_f
# climate = pd.concat([climate, temp_f], axis=1)

# Alternative solution
climate["Fahrenheit"] = climate["Celsius"] * 9/5 + 32
climate

   Celsius  RelativeHum  Pressure_kPa  Fahrenheit
0       23           62             2        73.4
1       21           60             1        69.8
2       15           57             4        59.0
3       20           58            56        68.0
4       11           56             3        51.8
5       14           55             7        57.2
6        6           57             7        42.8
7        2           53            45        35.6
8        8           55             4        46.4
9       14           54             9        57.2