# Read & Write Data Files

In [2]:
# Import Pandas
import pandas as pd

<br>

## Note:
#### In this Notebook we will use the following Datafiles:
* iris.csv
* boston_houses.tsv
* wine.csv
* u.user
* titanic.xls
* pokemon.csv

#### Make sure to place them in the same folder as this Notebook. Otherwise, you will have to adjust the paths accordingly.

---
# Read Files (the Pandas way)

## Load Data from Text files
__Two common text file formats are:__
* __CSV:__ Comma-Separated Values
* __TSV:__ Tab-Separated Values

<br>

__Common Pandas methods to create DataFrames from text files:__
* `read_csv()`: Defaults to reading CSVs
* `read_table()`: Defaults to reading TSVs

__Note:__ They are wrappers of the same underlying funtion, so they can be used interchangeably by setting the right parameters.

### 1. Load data from a CSV file

We will use the __Iris__ dataset (`iris.csv`). First, let's see how the file looks:

In [3]:
less ../datasets/iris.csv

In [5]:
# Path to the Iris data file
iris_fp = '../datasets/iris.csv'

In [6]:
# Let's load the Iris dataset into a Pandas DataFrame

iris = pd.read_csv(iris_fp)
iris

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
# Now let's use .read_table() to load iris.csv

iris = pd.read_table(iris_fp, delimiter=",")
iris

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:
pd.read_table?

### 2. Load data from a TSV file

We will use the __Boston Housing__ dataset (`boston_houses.tsv`). First, let's see how it looks:

In [11]:
less ../datasets/boston_houses.tsv

In [12]:
# Path to the Boston data file
boston_fp = '../datasets/boston_houses.tsv'

In [13]:
# Load the boston_houses.tsv - using .read_table()

bh_df = pd.read_table(boston_fp)
bh_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [15]:
# Load the boston_houses.tsv - using .read_csv()

bh_df = pd.read_csv(boston_fp, sep='\t')
bh_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

<br>

### 3. Load files with misleading extension

File extensions (__.csv__, __.tsv__, __.txt__, etc.) are just a convention.

<br>

__Disclaimer!__ Not everyone will follow the conventions!

<br><br>

We will use the __Wine__ dataset (`wine.csv`).

First, let's see how it looks:

In [16]:
less ../datasets/wine.csv

In [17]:
# Path to the wine data file
wine_fp = "../datasets/wine.csv"

In [19]:
# Load the wine file using .read_csv

wine_df = pd.read_csv(wine_fp, sep=';')
wine_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

### 4. Load text file with unknown extension

* Files can have any extension (yes! you can create your own)
* Files can lack extension (Windows do not like that)


__Example:__ Load a text file with a non-conventional extension. Let's see it first:

In [20]:
less ../datasets/u.user

In [21]:
# Path of the u.user file
user_fp = '../datasets/u.user'

In [22]:
# Load the file with .read_csv()

user_df = pd.read_table(user_fp, sep='|')
user_df

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

## Load Data from Excel files

__Python Method:__ `.read_excel()`

__Supported Formats:__ __xls, xlsx, xlsm, xlsb, odf, ods__ and __odt__

<br>

__Note:__ If you get an error (like the one below), you might be missing some dependencies.

__Error Message:__ `ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support ...`

In [24]:
# Path to the Excel file
dataset = '../datasets/titanic.xls'

# Load data from the Excel file

ttn = pd.read_excel(dataset)
ttn

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

# Write CSV Data

Many times when you manipulate your DataFrames, you would want to save your progress in a file.

__Pandas Method:__ `.to_csv()`

In [25]:
less ../datasets/iris.csv

In [26]:
# Remember Iris dataset
iris

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [43]:
# Let's write it into a new file - with and w/o index
iris.to_csv("my_iris.csv", index=False, header=None)

In [44]:
less my_iris.csv

---
# Slightly more advanced topics

# Working with large amounts of data


__At some point you will deal with a file bigger than your RAM.__

* Imagine you get a __20GB__ data file.
* Imagine your computer's RAM is __8GB__.

<br>

Now what?

<br>

No need to ask for a new computer just yet!

<br>

We will load the data in __chunks__.

In [45]:
# Load the wine dataset in chunks (using a for-loop and chunksize)

for chunk in pd.read_csv('../datasets/wine.csv', sep=';', chunksize=10):
    display(chunk)
    # filtering....
    chunk.to_csv('my_wine2.csv', mode='a', header=False)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13,40,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15,59,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15,21,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9,18,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17,102,0.9978,3.35,0.80,10.5,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
10,6.7,0.580,0.08,1.8,0.097,15,65,0.9959,3.28,0.54,9.2,5
11,7.5,0.500,0.36,6.1,0.071,17,102,0.9978,3.35,0.80,10.5,5
12,5.6,0.615,0.00,1.6,0.089,16,59,0.9943,3.58,0.52,9.9,5
13,7.8,0.610,0.29,1.6,0.114,9,29,0.9974,3.26,1.56,9.1,5
14,8.9,0.620,0.18,3.8,0.176,52,145,0.9986,3.16,0.88,9.2,5
15,8.9,0.620,0.19,3.9,0.170,51,148,0.9986,3.17,0.93,9.2,5
16,8.5,0.280,0.56,1.8,0.092,35,103,0.9969,3.30,0.75,10.5,7
17,8.1,0.560,0.28,1.7,0.368,16,56,0.9968,3.11,1.28,9.3,5
18,7.4,0.590,0.08,4.4,0.086,6,29,0.9974,3.38,0.50,9.0,4
19,7.9,0.320,0.51,1.8,0.341,17,56,0.9969,3.04,1.08,9.2,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
20,8.9,0.220,0.48,1.8,0.077,29,60,0.9968,3.39,0.53,9.4,6
21,7.6,0.390,0.31,2.3,0.082,23,71,0.9982,3.52,0.65,9.7,5
22,7.9,0.430,0.21,1.6,0.106,10,37,0.9966,3.17,0.91,9.5,5
23,8.5,0.490,0.11,2.3,0.084,9,67,0.9968,3.17,0.53,9.4,5
24,6.9,0.400,0.14,2.4,0.085,21,40,0.9968,3.43,0.63,9.7,6
25,6.3,0.390,0.16,1.4,0.080,11,23,0.9955,3.34,0.56,9.3,5
26,7.6,0.410,0.24,1.8,0.080,4,11,0.9962,3.28,0.59,9.5,5
27,7.9,0.430,0.21,1.6,0.106,10,37,0.9966,3.17,0.91,9.5,5
28,7.1,0.710,0.00,1.9,0.080,14,35,0.9972,3.47,0.55,9.4,5
29,7.8,0.645,0.00,2.0,0.082,8,16,0.9964,3.38,0.59,9.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
30,6.7,0.675,0.07,2.4,0.089,17,82,0.9958,3.35,0.54,10.1,5
31,6.9,0.685,0.00,2.5,0.105,22,37,0.9966,3.46,0.57,10.6,6
32,8.3,0.655,0.12,2.3,0.083,15,113,0.9966,3.17,0.66,9.8,5
33,6.9,0.605,0.12,10.7,0.073,40,83,0.9993,3.45,0.52,9.4,6
34,5.2,0.320,0.25,1.8,0.103,13,50,0.9957,3.38,0.55,9.2,5
35,7.8,0.645,0.00,5.5,0.086,5,18,0.9986,3.40,0.55,9.6,6
36,7.8,0.600,0.14,2.4,0.086,3,15,0.9975,3.42,0.60,10.8,6
37,8.1,0.380,0.28,2.1,0.066,13,30,0.9968,3.23,0.73,9.7,7
38,5.7,1.130,0.09,1.5,0.172,7,19,0.9940,3.50,0.48,9.8,4
39,7.3,0.450,0.36,5.9,0.074,12,87,0.9978,3.33,0.83,10.5,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
40,7.3,0.450,0.36,5.9,0.074,12,87,0.9978,3.33,0.83,10.5,5
41,8.8,0.610,0.30,2.8,0.088,17,46,0.9976,3.26,0.51,9.3,4
42,7.5,0.490,0.20,2.6,0.332,8,14,0.9968,3.21,0.90,10.5,6
43,8.1,0.660,0.22,2.2,0.069,9,23,0.9968,3.30,1.20,10.3,5
44,6.8,0.670,0.02,1.8,0.050,5,11,0.9962,3.48,0.52,9.5,5
45,4.6,0.520,0.15,2.1,0.054,8,65,0.9934,3.90,0.56,13.1,4
46,7.7,0.935,0.43,2.2,0.114,22,114,0.9970,3.25,0.73,9.2,5
47,8.7,0.290,0.52,1.6,0.113,12,37,0.9969,3.25,0.58,9.5,5
48,6.4,0.400,0.23,1.6,0.066,5,12,0.9958,3.34,0.56,9.2,5
49,5.6,0.310,0.37,1.4,0.074,12,96,0.9954,3.32,0.58,9.2,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
50,8.8,0.66,0.26,1.7,0.074,4,23,0.9971,3.15,0.74,9.2,5
51,6.6,0.52,0.04,2.2,0.069,8,15,0.9956,3.40,0.63,9.4,6
52,6.6,0.50,0.04,2.1,0.068,6,14,0.9955,3.39,0.64,9.4,6
53,8.6,0.38,0.36,3.0,0.081,30,119,0.9970,3.20,0.56,9.4,5
54,7.6,0.51,0.15,2.8,0.110,33,73,0.9955,3.17,0.63,10.2,6
55,7.7,0.62,0.04,3.8,0.084,25,45,0.9978,3.34,0.53,9.5,5
56,10.2,0.42,0.57,3.4,0.070,4,10,0.9971,3.04,0.63,9.6,5
57,7.5,0.63,0.12,5.1,0.111,50,110,0.9983,3.26,0.77,9.4,5
58,7.8,0.59,0.18,2.3,0.076,17,54,0.9975,3.43,0.59,10.0,5
59,7.3,0.39,0.31,2.4,0.074,9,46,0.9962,3.41,0.54,9.4,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
60,8.8,0.400,0.40,2.20,0.079,19,52,0.9980,3.44,0.64,9.2,5
61,7.7,0.690,0.49,1.80,0.115,20,112,0.9968,3.21,0.71,9.3,5
62,7.5,0.520,0.16,1.90,0.085,12,35,0.9968,3.38,0.62,9.5,7
63,7.0,0.735,0.05,2.00,0.081,13,54,0.9966,3.39,0.57,9.8,5
64,7.2,0.725,0.05,4.65,0.086,4,11,0.9962,3.41,0.39,10.9,5
65,7.2,0.725,0.05,4.65,0.086,4,11,0.9962,3.41,0.39,10.9,5
66,7.5,0.520,0.11,1.50,0.079,11,39,0.9968,3.42,0.58,9.6,5
67,6.6,0.705,0.07,1.60,0.076,6,15,0.9962,3.44,0.58,10.7,5
68,9.3,0.320,0.57,2.00,0.074,27,65,0.9969,3.28,0.79,10.7,5
69,8.0,0.705,0.05,1.90,0.074,8,19,0.9962,3.34,0.95,10.5,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
70,7.7,0.630,0.08,1.9,0.076,15,27,0.9967,3.32,0.54,9.5,6
71,7.7,0.670,0.23,2.1,0.088,17,96,0.9962,3.32,0.48,9.5,5
72,7.7,0.690,0.22,1.9,0.084,18,94,0.9961,3.31,0.48,9.5,5
73,8.3,0.675,0.26,2.1,0.084,11,43,0.9976,3.31,0.53,9.2,4
74,9.7,0.320,0.54,2.5,0.094,28,83,0.9984,3.28,0.82,9.6,5
75,8.8,0.410,0.64,2.2,0.093,9,42,0.9986,3.54,0.66,10.5,5
76,8.8,0.410,0.64,2.2,0.093,9,42,0.9986,3.54,0.66,10.5,5
77,6.8,0.785,0.00,2.4,0.104,14,30,0.9966,3.52,0.55,10.7,6
78,6.7,0.750,0.12,2.0,0.086,12,80,0.9958,3.38,0.52,10.1,5
79,8.3,0.625,0.20,1.5,0.080,27,119,0.9972,3.16,1.12,9.1,4

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
80,6.2,0.45,0.20,1.6,0.069,3,15,0.9958,3.41,0.56,9.2,5
81,7.8,0.43,0.70,1.9,0.464,22,67,0.9974,3.13,1.28,9.4,5
82,7.4,0.50,0.47,2.0,0.086,21,73,0.9970,3.36,0.57,9.1,5
83,7.3,0.67,0.26,1.8,0.401,16,51,0.9969,3.16,1.14,9.4,5
84,6.3,0.30,0.48,1.8,0.069,18,61,0.9959,3.44,0.78,10.3,6
85,6.9,0.55,0.15,2.2,0.076,19,40,0.9961,3.41,0.59,10.1,5
86,8.6,0.49,0.28,1.9,0.110,20,136,0.9972,2.93,1.95,9.9,6
87,7.7,0.49,0.26,1.9,0.062,9,31,0.9966,3.39,0.64,9.6,5
88,9.3,0.39,0.44,2.1,0.107,34,125,0.9978,3.14,1.22,9.5,5
89,7.0,0.62,0.08,1.8,0.076,8,24,0.9978,3.48,0.53,9.0,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
90,7.9,0.520,0.26,1.9,0.079,42,140,0.9964,3.23,0.54,9.5,5
91,8.6,0.490,0.28,1.9,0.110,20,136,0.9972,2.93,1.95,9.9,6
92,8.6,0.490,0.29,2.0,0.110,19,133,0.9972,2.93,1.98,9.8,5
93,7.7,0.490,0.26,1.9,0.062,9,31,0.9966,3.39,0.64,9.6,5
94,5.0,1.020,0.04,1.4,0.045,41,85,0.9938,3.75,0.48,10.5,4
95,4.7,0.600,0.17,2.3,0.058,17,106,0.9932,3.85,0.60,12.9,6
96,6.8,0.775,0.00,3.0,0.102,8,23,0.9965,3.45,0.56,10.7,5
97,7.0,0.500,0.25,2.0,0.070,3,22,0.9963,3.25,0.63,9.2,5
98,7.6,0.900,0.06,2.5,0.079,5,10,0.9967,3.39,0.56,9.8,5
99,8.1,0.545,0.18,1.9,0.080,13,35,0.9972,3.30,0.59,9.0,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
100,8.3,0.610,0.30,2.1,0.084,11,50,0.9972,3.40,0.61,10.2,6
101,7.8,0.500,0.30,1.9,0.075,8,22,0.9959,3.31,0.56,10.4,6
102,8.1,0.545,0.18,1.9,0.080,13,35,0.9972,3.30,0.59,9.0,6
103,8.1,0.575,0.22,2.1,0.077,12,65,0.9967,3.29,0.51,9.2,5
104,7.2,0.490,0.24,2.2,0.070,5,36,0.9960,3.33,0.48,9.4,5
105,8.1,0.575,0.22,2.1,0.077,12,65,0.9967,3.29,0.51,9.2,5
106,7.8,0.410,0.68,1.7,0.467,18,69,0.9973,3.08,1.31,9.3,5
107,6.2,0.630,0.31,1.7,0.088,15,64,0.9969,3.46,0.79,9.3,5
108,8.0,0.330,0.53,2.5,0.091,18,80,0.9976,3.37,0.80,9.6,6
109,8.1,0.785,0.52,2.0,0.122,37,153,0.9969,3.21,0.69,9.3,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
110,7.8,0.56,0.19,1.8,0.104,12,47,0.9964,3.19,0.93,9.5,5
111,8.4,0.62,0.09,2.2,0.084,11,108,0.9964,3.15,0.66,9.8,5
112,8.4,0.60,0.10,2.2,0.085,14,111,0.9964,3.15,0.66,9.8,5
113,10.1,0.31,0.44,2.3,0.080,22,46,0.9988,3.32,0.67,9.7,6
114,7.8,0.56,0.19,1.8,0.104,12,47,0.9964,3.19,0.93,9.5,5
115,9.4,0.40,0.31,2.2,0.090,13,62,0.9966,3.07,0.63,10.5,6
116,8.3,0.54,0.28,1.9,0.077,11,40,0.9978,3.39,0.61,10.0,6
117,7.8,0.56,0.12,2.0,0.082,7,28,0.9970,3.37,0.50,9.4,6
118,8.8,0.55,0.04,2.2,0.119,14,56,0.9962,3.21,0.60,10.9,6
119,7.0,0.69,0.08,1.8,0.097,22,89,0.9959,3.34,0.54,9.2,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
120,7.3,1.070,0.09,1.7,0.178,10,89,0.9962,3.30,0.57,9.0,5
121,8.8,0.550,0.04,2.2,0.119,14,56,0.9962,3.21,0.60,10.9,6
122,7.3,0.695,0.00,2.5,0.075,3,13,0.9980,3.49,0.52,9.2,5
123,8.0,0.710,0.00,2.6,0.080,11,34,0.9976,3.44,0.53,9.5,5
124,7.8,0.500,0.17,1.6,0.082,21,102,0.9960,3.39,0.48,9.5,5
125,9.0,0.620,0.04,1.9,0.146,27,90,0.9984,3.16,0.70,9.4,5
126,8.2,1.330,0.00,1.7,0.081,3,12,0.9964,3.53,0.49,10.9,5
127,8.1,1.330,0.00,1.8,0.082,3,12,0.9964,3.54,0.48,10.9,5
128,8.0,0.590,0.16,1.8,0.065,3,16,0.9962,3.42,0.92,10.5,7
129,6.1,0.380,0.15,1.8,0.072,6,19,0.9955,3.42,0.57,9.4,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
130,8.0,0.745,0.56,2.0,0.118,30,134,0.9968,3.24,0.66,9.4,5
131,5.6,0.500,0.09,2.3,0.049,17,99,0.9937,3.63,0.63,13.0,5
132,5.6,0.500,0.09,2.3,0.049,17,99,0.9937,3.63,0.63,13.0,5
133,6.6,0.500,0.01,1.5,0.060,17,26,0.9952,3.40,0.58,9.8,6
134,7.9,1.040,0.05,2.2,0.084,13,29,0.9959,3.22,0.55,9.9,6
135,8.4,0.745,0.11,1.9,0.090,16,63,0.9965,3.19,0.82,9.6,5
136,8.3,0.715,0.15,1.8,0.089,10,52,0.9968,3.23,0.77,9.5,5
137,7.2,0.415,0.36,2.0,0.081,13,45,0.9972,3.48,0.64,9.2,5
138,7.8,0.560,0.19,2.1,0.081,15,105,0.9962,3.33,0.54,9.5,5
139,7.8,0.560,0.19,2.0,0.081,17,108,0.9962,3.32,0.54,9.5,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
140,8.4,0.745,0.11,1.9,0.090,16,63,0.9965,3.19,0.82,9.6,5
141,8.3,0.715,0.15,1.8,0.089,10,52,0.9968,3.23,0.77,9.5,5
142,5.2,0.340,0.00,1.8,0.050,27,63,0.9916,3.68,0.79,14.0,6
143,6.3,0.390,0.08,1.7,0.066,3,20,0.9954,3.34,0.58,9.4,5
144,5.2,0.340,0.00,1.8,0.050,27,63,0.9916,3.68,0.79,14.0,6
145,8.1,0.670,0.55,1.8,0.117,32,141,0.9968,3.17,0.62,9.4,5
146,5.8,0.680,0.02,1.8,0.087,21,94,0.9944,3.54,0.52,10.0,5
147,7.6,0.490,0.26,1.6,0.236,10,88,0.9968,3.11,0.80,9.3,5
148,6.9,0.490,0.10,2.3,0.074,12,30,0.9959,3.42,0.58,10.2,6
149,8.2,0.400,0.44,2.8,0.089,11,43,0.9975,3.53,0.61,10.5,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
150,7.3,0.33,0.47,2.1,0.077,5,11,0.9958,3.33,0.53,10.3,6
151,9.2,0.52,1.00,3.4,0.610,32,69,0.9996,2.74,2.00,9.4,4
152,7.5,0.60,0.03,1.8,0.095,25,99,0.9950,3.35,0.54,10.1,5
153,7.5,0.60,0.03,1.8,0.095,25,99,0.9950,3.35,0.54,10.1,5
154,7.1,0.43,0.42,5.5,0.070,29,129,0.9973,3.42,0.72,10.5,5
155,7.1,0.43,0.42,5.5,0.071,28,128,0.9973,3.42,0.71,10.5,5
156,7.1,0.43,0.42,5.5,0.070,29,129,0.9973,3.42,0.72,10.5,5
157,7.1,0.43,0.42,5.5,0.071,28,128,0.9973,3.42,0.71,10.5,5
158,7.1,0.68,0.00,2.2,0.073,12,22,0.9969,3.48,0.50,9.3,5
159,6.8,0.60,0.18,1.9,0.079,18,86,0.9968,3.59,0.57,9.3,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
160,7.6,0.950,0.03,2.0,0.090,7,20,0.9959,3.20,0.56,9.6,5
161,7.6,0.680,0.02,1.3,0.072,9,20,0.9965,3.17,1.08,9.2,4
162,7.8,0.530,0.04,1.7,0.076,17,31,0.9964,3.33,0.56,10.0,6
163,7.4,0.600,0.26,7.3,0.070,36,121,0.9982,3.37,0.49,9.4,5
164,7.3,0.590,0.26,7.2,0.070,35,121,0.9981,3.37,0.49,9.4,5
165,7.8,0.630,0.48,1.7,0.100,14,96,0.9961,3.19,0.62,9.5,5
166,6.8,0.640,0.10,2.1,0.085,18,101,0.9956,3.34,0.52,10.2,5
167,7.3,0.550,0.03,1.6,0.072,17,42,0.9956,3.37,0.48,9.0,4
168,6.8,0.630,0.07,2.1,0.089,11,44,0.9953,3.47,0.55,10.4,6
169,7.5,0.705,0.24,1.8,0.360,15,63,0.9964,3.00,1.59,9.5,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
170,7.9,0.885,0.03,1.8,0.058,4,8,0.9972,3.36,0.33,9.1,4
171,8.0,0.420,0.17,2.0,0.073,6,18,0.9972,3.29,0.61,9.2,6
172,8.0,0.420,0.17,2.0,0.073,6,18,0.9972,3.29,0.61,9.2,6
173,7.4,0.620,0.05,1.9,0.068,24,42,0.9961,3.42,0.57,11.5,6
174,7.3,0.380,0.21,2.0,0.080,7,35,0.9961,3.33,0.47,9.5,5
175,6.9,0.500,0.04,1.5,0.085,19,49,0.9958,3.35,0.78,9.5,5
176,7.3,0.380,0.21,2.0,0.080,7,35,0.9961,3.33,0.47,9.5,5
177,7.5,0.520,0.42,2.3,0.087,8,38,0.9972,3.58,0.61,10.5,6
178,7.0,0.805,0.00,2.5,0.068,7,20,0.9969,3.48,0.56,9.6,5
179,8.8,0.610,0.14,2.4,0.067,10,42,0.9969,3.19,0.59,9.5,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
180,8.8,0.610,0.14,2.4,0.067,10,42,0.9969,3.19,0.59,9.5,5
181,8.9,0.610,0.49,2.0,0.270,23,110,0.9972,3.12,1.02,9.3,5
182,7.2,0.730,0.02,2.5,0.076,16,42,0.9972,3.44,0.52,9.3,5
183,6.8,0.610,0.20,1.8,0.077,11,65,0.9971,3.54,0.58,9.3,5
184,6.7,0.620,0.21,1.9,0.079,8,62,0.9970,3.52,0.58,9.3,6
185,8.9,0.310,0.57,2.0,0.111,26,85,0.9971,3.26,0.53,9.7,5
186,7.4,0.390,0.48,2.0,0.082,14,67,0.9972,3.34,0.55,9.2,5
187,7.7,0.705,0.10,2.6,0.084,9,26,0.9976,3.39,0.49,9.7,5
188,7.9,0.500,0.33,2.0,0.084,15,143,0.9968,3.20,0.55,9.5,5
189,7.9,0.490,0.32,1.9,0.082,17,144,0.9968,3.20,0.55,9.5,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
190,8.2,0.500,0.35,2.9,0.077,21,127,0.9976,3.23,0.62,9.4,5
191,6.4,0.370,0.25,1.9,0.074,21,49,0.9974,3.57,0.62,9.8,6
192,6.8,0.630,0.12,3.8,0.099,16,126,0.9969,3.28,0.61,9.5,5
193,7.6,0.550,0.21,2.2,0.071,7,28,0.9964,3.28,0.55,9.7,5
194,7.6,0.550,0.21,2.2,0.071,7,28,0.9964,3.28,0.55,9.7,5
195,7.8,0.590,0.33,2.0,0.074,24,120,0.9968,3.25,0.54,9.4,5
196,7.3,0.580,0.30,2.4,0.074,15,55,0.9968,3.46,0.59,10.2,5
197,11.5,0.300,0.60,2.0,0.067,12,27,0.9981,3.11,0.97,10.1,6
198,5.4,0.835,0.08,1.2,0.046,13,93,0.9924,3.57,0.85,13.0,7
199,6.9,1.090,0.06,2.1,0.061,12,31,0.9948,3.51,0.43,11.4,4

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
200,9.6,0.32,0.47,1.4,0.056,9,24,0.99695,3.22,0.82,10.3,7
201,8.8,0.37,0.48,2.1,0.097,39,145,0.99750,3.04,1.03,9.3,5
202,6.8,0.50,0.11,1.5,0.075,16,49,0.99545,3.36,0.79,9.5,5
203,7.0,0.42,0.35,1.6,0.088,16,39,0.99610,3.34,0.55,9.2,5
204,7.0,0.43,0.36,1.6,0.089,14,37,0.99615,3.34,0.56,9.2,6
205,12.8,0.30,0.74,2.6,0.095,9,28,0.99940,3.20,0.77,10.8,7
206,12.8,0.30,0.74,2.6,0.095,9,28,0.99940,3.20,0.77,10.8,7
207,7.8,0.57,0.31,1.8,0.069,26,120,0.99625,3.29,0.53,9.3,5
208,7.8,0.44,0.28,2.7,0.100,18,95,0.99660,3.22,0.67,9.4,5
209,11.0,0.30,0.58,2.1,0.054,7,19,0.99800,3.31,0.88,10.5,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
210,9.7,0.530,0.60,2.0,0.039,5,19,0.99585,3.30,0.86,12.4,6
211,8.0,0.725,0.24,2.8,0.083,10,62,0.99685,3.35,0.56,10.0,6
212,11.6,0.440,0.64,2.1,0.059,5,15,0.99800,3.21,0.67,10.2,6
213,8.2,0.570,0.26,2.2,0.060,28,65,0.99590,3.30,0.43,10.1,5
214,7.8,0.735,0.08,2.4,0.092,10,41,0.99740,3.24,0.71,9.8,6
215,7.0,0.490,0.49,5.6,0.060,26,121,0.99740,3.34,0.76,10.5,5
216,8.7,0.625,0.16,2.0,0.101,13,49,0.99620,3.14,0.57,11.0,5
217,8.1,0.725,0.22,2.2,0.072,11,41,0.99670,3.36,0.55,9.1,5
218,7.5,0.490,0.19,1.9,0.076,10,44,0.99570,3.39,0.54,9.7,5
219,7.8,0.530,0.33,2.4,0.080,24,144,0.99655,3.30,0.60,9.5,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
220,7.8,0.340,0.37,2.0,0.082,24,58,0.99640,3.34,0.59,9.4,6
221,7.4,0.530,0.26,2.0,0.101,16,72,0.99570,3.15,0.57,9.4,5
222,6.8,0.610,0.04,1.5,0.057,5,10,0.99525,3.42,0.60,9.5,5
223,8.6,0.645,0.25,2.0,0.083,8,28,0.99815,3.28,0.60,10.0,6
224,8.4,0.635,0.36,2.0,0.089,15,55,0.99745,3.31,0.57,10.4,4
225,7.7,0.430,0.25,2.6,0.073,29,63,0.99615,3.37,0.58,10.5,6
226,8.9,0.590,0.50,2.0,0.337,27,81,0.99640,3.04,1.61,9.5,6
227,9.0,0.820,0.14,2.6,0.089,9,23,0.99840,3.39,0.63,9.8,5
228,7.7,0.430,0.25,2.6,0.073,29,63,0.99615,3.37,0.58,10.5,6
229,6.9,0.520,0.25,2.6,0.081,10,37,0.99685,3.46,0.50,11.0,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
230,5.2,0.480,0.04,1.6,0.054,19,106,0.99270,3.54,0.62,12.2,7
231,8.0,0.380,0.06,1.8,0.078,12,49,0.99625,3.37,0.52,9.9,6
232,8.5,0.370,0.20,2.8,0.090,18,58,0.99800,3.34,0.70,9.6,6
233,6.9,0.520,0.25,2.6,0.081,10,37,0.99685,3.46,0.50,11.0,5
234,8.2,1.000,0.09,2.3,0.065,7,37,0.99685,3.32,0.55,9.0,6
235,7.2,0.630,0.00,1.9,0.097,14,38,0.99675,3.37,0.58,9.0,6
236,7.2,0.630,0.00,1.9,0.097,14,38,0.99675,3.37,0.58,9.0,6
237,7.2,0.645,0.00,1.9,0.097,15,39,0.99675,3.37,0.58,9.2,6
238,7.2,0.630,0.00,1.9,0.097,14,38,0.99675,3.37,0.58,9.0,6
239,8.2,1.000,0.09,2.3,0.065,7,37,0.99685,3.32,0.55,9.0,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
240,8.9,0.635,0.37,1.7,0.263,5,62,0.99710,3.00,1.09,9.3,5
241,12.0,0.380,0.56,2.1,0.093,6,24,0.99925,3.14,0.71,10.9,6
242,7.7,0.580,0.10,1.8,0.102,28,109,0.99565,3.08,0.49,9.8,6
243,15.0,0.210,0.44,2.2,0.075,10,24,1.00005,3.07,0.84,9.2,7
244,15.0,0.210,0.44,2.2,0.075,10,24,1.00005,3.07,0.84,9.2,7
245,7.3,0.660,0.00,2.0,0.084,6,23,0.99830,3.61,0.96,9.9,6
246,7.1,0.680,0.07,1.9,0.075,16,51,0.99685,3.38,0.52,9.5,5
247,8.2,0.600,0.17,2.3,0.072,11,73,0.99630,3.20,0.45,9.3,5
248,7.7,0.530,0.06,1.7,0.074,9,39,0.99615,3.35,0.48,9.8,6
249,7.3,0.660,0.00,2.0,0.084,6,23,0.99830,3.61,0.96,9.9,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
250,10.8,0.320,0.44,1.6,0.063,16,37,0.99850,3.22,0.78,10.0,6
251,7.1,0.600,0.00,1.8,0.074,16,34,0.99720,3.47,0.70,9.9,6
252,11.1,0.350,0.48,3.1,0.090,5,21,0.99860,3.17,0.53,10.5,5
253,7.7,0.775,0.42,1.9,0.092,8,86,0.99590,3.23,0.59,9.5,5
254,7.1,0.600,0.00,1.8,0.074,16,34,0.99720,3.47,0.70,9.9,6
255,8.0,0.570,0.23,3.2,0.073,17,119,0.99675,3.26,0.57,9.3,5
256,9.4,0.340,0.37,2.2,0.075,5,13,0.99800,3.22,0.62,9.2,5
257,6.6,0.695,0.00,2.1,0.075,12,56,0.99680,3.49,0.67,9.2,5
258,7.7,0.410,0.76,1.8,0.611,8,45,0.99680,3.06,1.26,9.4,5
259,10.0,0.310,0.47,2.6,0.085,14,33,0.99965,3.36,0.80,10.5,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
260,7.9,0.330,0.23,1.7,0.077,18,45,0.99625,3.29,0.65,9.3,5
261,7.0,0.975,0.04,2.0,0.087,12,67,0.99565,3.35,0.60,9.4,4
262,8.0,0.520,0.03,1.7,0.070,10,35,0.99575,3.34,0.57,10.0,5
263,7.9,0.370,0.23,1.8,0.077,23,49,0.99630,3.28,0.67,9.3,5
264,12.5,0.560,0.49,2.4,0.064,5,27,0.99990,3.08,0.87,10.9,5
265,11.8,0.260,0.52,1.8,0.071,6,10,0.99680,3.20,0.72,10.2,7
266,8.1,0.870,0.00,3.3,0.096,26,61,1.00025,3.60,0.72,9.8,4
267,7.9,0.350,0.46,3.6,0.078,15,37,0.99730,3.35,0.86,12.8,8
268,6.9,0.540,0.04,3.0,0.077,7,27,0.99870,3.69,0.91,9.4,6
269,11.5,0.180,0.51,4.0,0.104,4,23,0.99960,3.28,0.97,10.1,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
270,7.9,0.545,0.06,4.0,0.087,27,61,0.99650,3.36,0.67,10.7,6
271,11.5,0.180,0.51,4.0,0.104,4,23,0.99960,3.28,0.97,10.1,6
272,10.9,0.370,0.58,4.0,0.071,17,65,0.99935,3.22,0.78,10.1,5
273,8.4,0.715,0.20,2.4,0.076,10,38,0.99735,3.31,0.64,9.4,5
274,7.5,0.650,0.18,7.0,0.088,27,94,0.99915,3.38,0.77,9.4,5
275,7.9,0.545,0.06,4.0,0.087,27,61,0.99650,3.36,0.67,10.7,6
276,6.9,0.540,0.04,3.0,0.077,7,27,0.99870,3.69,0.91,9.4,6
277,11.5,0.180,0.51,4.0,0.104,4,23,0.99960,3.28,0.97,10.1,6
278,10.3,0.320,0.45,6.4,0.073,5,13,0.99760,3.23,0.82,12.6,8
279,8.9,0.400,0.32,5.6,0.087,10,47,0.99910,3.38,0.77,10.5,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
280,11.4,0.26,0.44,3.6,0.071,6,19,0.99860,3.12,0.82,9.3,6
281,7.7,0.27,0.68,3.5,0.358,5,10,0.99720,3.25,1.08,9.9,7
282,7.6,0.52,0.12,3.0,0.067,12,53,0.99710,3.36,0.57,9.1,5
283,8.9,0.40,0.32,5.6,0.087,10,47,0.99910,3.38,0.77,10.5,7
284,9.9,0.59,0.07,3.4,0.102,32,71,1.00015,3.31,0.71,9.8,5
285,9.9,0.59,0.07,3.4,0.102,32,71,1.00015,3.31,0.71,9.8,5
286,12.0,0.45,0.55,2.0,0.073,25,49,0.99970,3.10,0.76,10.3,6
287,7.5,0.40,0.12,3.0,0.092,29,53,0.99670,3.37,0.70,10.3,6
288,8.7,0.52,0.09,2.5,0.091,20,49,0.99760,3.34,0.86,10.6,7
289,11.6,0.42,0.53,3.3,0.105,33,98,1.00100,3.20,0.95,9.2,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
290,8.7,0.52,0.09,2.5,0.091,20,49,0.99760,3.34,0.86,10.6,7
291,11.0,0.20,0.48,2.0,0.343,6,18,0.99790,3.30,0.71,10.5,5
292,10.4,0.55,0.23,2.7,0.091,18,48,0.99940,3.22,0.64,10.3,6
293,6.9,0.36,0.25,2.4,0.098,5,16,0.99640,3.41,0.60,10.1,6
294,13.3,0.34,0.52,3.2,0.094,17,53,1.00140,3.05,0.81,9.5,6
295,10.8,0.50,0.46,2.5,0.073,5,27,1.00010,3.05,0.64,9.5,5
296,10.6,0.83,0.37,2.6,0.086,26,70,0.99810,3.16,0.52,9.9,5
297,7.1,0.63,0.06,2.0,0.083,8,29,0.99855,3.67,0.73,9.6,5
298,7.2,0.65,0.02,2.3,0.094,5,31,0.99930,3.67,0.80,9.7,5
299,6.9,0.67,0.06,2.1,0.080,8,33,0.99845,3.68,0.71,9.6,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
300,7.5,0.530,0.06,2.6,0.086,20,44,0.9965,3.38,0.59,10.7,6
301,11.1,0.180,0.48,1.5,0.068,7,15,0.9973,3.22,0.64,10.1,6
302,8.3,0.705,0.12,2.6,0.092,12,28,0.9994,3.51,0.72,10.0,5
303,7.4,0.670,0.12,1.6,0.186,5,21,0.9960,3.39,0.54,9.5,5
304,8.4,0.650,0.60,2.1,0.112,12,90,0.9973,3.20,0.52,9.2,5
305,10.3,0.530,0.48,2.5,0.063,6,25,0.9998,3.12,0.59,9.3,6
306,7.6,0.620,0.32,2.2,0.082,7,54,0.9966,3.36,0.52,9.4,5
307,10.3,0.410,0.42,2.4,0.213,6,14,0.9994,3.19,0.62,9.5,6
308,10.3,0.430,0.44,2.4,0.214,5,12,0.9994,3.19,0.63,9.5,6
309,7.4,0.290,0.38,1.7,0.062,9,30,0.9968,3.41,0.53,9.5,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
310,10.3,0.53,0.48,2.5,0.063,6,25,0.99980,3.12,0.59,9.3,6
311,7.9,0.53,0.24,2.0,0.072,15,105,0.99600,3.27,0.54,9.4,6
312,9.0,0.46,0.31,2.8,0.093,19,98,0.99815,3.32,0.63,9.5,6
313,8.6,0.47,0.30,3.0,0.076,30,135,0.99760,3.30,0.53,9.4,5
314,7.4,0.36,0.29,2.6,0.087,26,72,0.99645,3.39,0.68,11.0,5
315,7.1,0.35,0.29,2.5,0.096,20,53,0.99620,3.42,0.65,11.0,6
316,9.6,0.56,0.23,3.4,0.102,37,92,0.99960,3.30,0.65,10.1,5
317,9.6,0.77,0.12,2.9,0.082,30,74,0.99865,3.30,0.64,10.4,6
318,9.8,0.66,0.39,3.2,0.083,21,59,0.99890,3.37,0.71,11.5,7
319,9.6,0.77,0.12,2.9,0.082,30,74,0.99865,3.30,0.64,10.4,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
320,9.8,0.66,0.39,3.20,0.083,21,59,0.99890,3.37,0.71,11.5,7
321,9.3,0.61,0.26,3.40,0.090,25,87,0.99975,3.24,0.62,9.7,5
322,7.8,0.62,0.05,2.30,0.079,6,18,0.99735,3.29,0.63,9.3,5
323,10.3,0.59,0.42,2.80,0.090,35,73,0.99900,3.28,0.70,9.5,6
324,10.0,0.49,0.20,11.00,0.071,13,50,1.00150,3.16,0.69,9.2,6
325,10.0,0.49,0.20,11.00,0.071,13,50,1.00150,3.16,0.69,9.2,6
326,11.6,0.53,0.66,3.65,0.121,6,14,0.99780,3.05,0.74,11.5,7
327,10.3,0.44,0.50,4.50,0.107,5,13,0.99800,3.28,0.83,11.5,5
328,13.4,0.27,0.62,2.60,0.082,6,21,1.00020,3.16,0.67,9.7,6
329,10.7,0.46,0.39,2.00,0.061,7,15,0.99810,3.18,0.62,9.5,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
330,10.2,0.360,0.64,2.9,0.122,10,41,0.9980,3.23,0.66,12.5,6
331,10.2,0.360,0.64,2.9,0.122,10,41,0.9980,3.23,0.66,12.5,6
332,8.0,0.580,0.28,3.2,0.066,21,114,0.9973,3.22,0.54,9.4,6
333,8.4,0.560,0.08,2.1,0.105,16,44,0.9958,3.13,0.52,11.0,5
334,7.9,0.650,0.01,2.5,0.078,17,38,0.9963,3.34,0.74,11.7,7
335,11.9,0.695,0.53,3.4,0.128,7,21,0.9992,3.17,0.84,12.2,7
336,8.9,0.430,0.45,1.9,0.052,6,16,0.9948,3.35,0.70,12.5,6
337,7.8,0.430,0.32,2.8,0.080,29,58,0.9974,3.31,0.64,10.3,5
338,12.4,0.490,0.58,3.0,0.103,28,99,1.0008,3.16,1.00,11.5,6
339,12.5,0.280,0.54,2.3,0.082,12,29,0.9997,3.11,1.36,9.8,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
340,12.2,0.340,0.50,2.4,0.066,10,21,1.0000,3.12,1.18,9.2,6
341,10.6,0.420,0.48,2.7,0.065,5,18,0.9972,3.21,0.87,11.3,6
342,10.9,0.390,0.47,1.8,0.118,6,14,0.9982,3.30,0.75,9.8,6
343,10.9,0.390,0.47,1.8,0.118,6,14,0.9982,3.30,0.75,9.8,6
344,11.9,0.570,0.50,2.6,0.082,6,32,1.0006,3.12,0.78,10.7,6
345,7.0,0.685,0.00,1.9,0.067,40,63,0.9979,3.60,0.81,9.9,5
346,6.6,0.815,0.02,2.7,0.072,17,34,0.9955,3.58,0.89,12.3,7
347,13.8,0.490,0.67,3.0,0.093,6,15,0.9986,3.02,0.93,12.0,6
348,9.6,0.560,0.31,2.8,0.089,15,46,0.9979,3.11,0.92,10.0,6
349,9.1,0.785,0.00,2.6,0.093,11,28,0.9994,3.36,0.86,9.4,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
350,10.7,0.670,0.22,2.70,0.107,17.0,34,1.0004,3.28,0.98,9.9,6
351,9.1,0.795,0.00,2.60,0.096,11.0,26,0.9994,3.35,0.83,9.4,6
352,7.7,0.665,0.00,2.40,0.090,8.0,19,0.9974,3.27,0.73,9.3,5
353,13.5,0.530,0.79,4.80,0.120,23.0,77,1.0018,3.18,0.77,13.0,5
354,6.1,0.210,0.40,1.40,0.066,40.5,165,0.9912,3.25,0.59,11.9,6
355,6.7,0.750,0.01,2.40,0.078,17.0,32,0.9955,3.55,0.61,12.8,6
356,11.5,0.410,0.52,3.00,0.080,29.0,55,1.0001,3.26,0.88,11.0,5
357,10.5,0.420,0.66,2.95,0.116,12.0,29,0.9970,3.24,0.75,11.7,7
358,11.9,0.430,0.66,3.10,0.109,10.0,23,1.0000,3.15,0.85,10.4,7
359,12.6,0.380,0.66,2.60,0.088,10.0,41,1.0010,3.17,0.68,9.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
360,8.2,0.700,0.23,2.0,0.099,14,81,0.9973,3.19,0.70,9.4,5
361,8.6,0.450,0.31,2.6,0.086,21,50,0.9982,3.37,0.91,9.9,6
362,11.9,0.580,0.66,2.5,0.072,6,37,0.9992,3.05,0.56,10.0,5
363,12.5,0.460,0.63,2.0,0.071,6,15,0.9988,2.99,0.87,10.2,5
364,12.8,0.615,0.66,5.8,0.083,7,42,1.0022,3.07,0.73,10.0,7
365,10.0,0.420,0.50,3.4,0.107,7,21,0.9979,3.26,0.93,11.8,6
366,12.8,0.615,0.66,5.8,0.083,7,42,1.0022,3.07,0.73,10.0,7
367,10.4,0.575,0.61,2.6,0.076,11,24,1.0000,3.16,0.69,9.0,5
368,10.3,0.340,0.52,2.8,0.159,15,75,0.9998,3.18,0.64,9.4,5
369,9.4,0.270,0.53,2.4,0.074,6,18,0.9962,3.20,1.13,12.0,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
370,6.9,0.765,0.02,2.3,0.063,35,63,0.9975,3.57,0.78,9.9,5
371,7.9,0.240,0.40,1.6,0.056,11,25,0.9967,3.32,0.87,8.7,6
372,9.1,0.280,0.48,1.8,0.067,26,46,0.9967,3.32,1.04,10.6,6
373,7.4,0.550,0.22,2.2,0.106,12,72,0.9959,3.05,0.63,9.2,5
374,14.0,0.410,0.63,3.8,0.089,6,47,1.0014,3.01,0.81,10.8,6
375,11.5,0.540,0.71,4.4,0.124,6,15,0.9984,3.01,0.83,11.8,7
376,11.5,0.450,0.50,3.0,0.078,19,47,1.0003,3.26,1.11,11.0,6
377,9.4,0.270,0.53,2.4,0.074,6,18,0.9962,3.20,1.13,12.0,7
378,11.4,0.625,0.66,6.2,0.088,6,24,0.9988,3.11,0.99,13.3,6
379,8.3,0.420,0.38,2.5,0.094,24,60,0.9979,3.31,0.70,10.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
380,8.3,0.260,0.42,2.0,0.080,11,27,0.9974,3.21,0.80,9.4,6
381,13.7,0.415,0.68,2.9,0.085,17,43,1.0014,3.06,0.80,10.0,6
382,8.3,0.260,0.42,2.0,0.080,11,27,0.9974,3.21,0.80,9.4,6
383,8.3,0.260,0.42,2.0,0.080,11,27,0.9974,3.21,0.80,9.4,6
384,7.7,0.510,0.28,2.1,0.087,23,54,0.9980,3.42,0.74,9.2,5
385,7.4,0.630,0.07,2.4,0.090,11,37,0.9979,3.43,0.76,9.7,6
386,7.8,0.540,0.26,2.0,0.088,23,48,0.9981,3.41,0.74,9.2,6
387,8.3,0.660,0.15,1.9,0.079,17,42,0.9972,3.31,0.54,9.6,6
388,7.8,0.460,0.26,1.9,0.088,23,53,0.9981,3.43,0.74,9.2,6
389,9.6,0.380,0.31,2.5,0.096,16,49,0.9982,3.19,0.70,10.0,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
390,5.6,0.850,0.05,1.4,0.045,12,88,0.9924,3.56,0.82,12.9,8
391,13.7,0.415,0.68,2.9,0.085,17,43,1.0014,3.06,0.80,10.0,6
392,9.5,0.370,0.52,2.0,0.082,6,26,0.9980,3.18,0.51,9.5,5
393,8.4,0.665,0.61,2.0,0.112,13,95,0.9970,3.16,0.54,9.1,5
394,12.7,0.600,0.65,2.3,0.063,6,25,0.9997,3.03,0.57,9.9,5
395,12.0,0.370,0.76,4.2,0.066,7,38,1.0004,3.22,0.60,13.0,7
396,6.6,0.735,0.02,7.9,0.122,68,124,0.9994,3.47,0.53,9.9,5
397,11.5,0.590,0.59,2.6,0.087,13,49,0.9988,3.18,0.65,11.0,6
398,11.5,0.590,0.59,2.6,0.087,13,49,0.9988,3.18,0.65,11.0,6
399,8.7,0.765,0.22,2.3,0.064,9,42,0.9963,3.10,0.55,9.4,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
400,6.6,0.735,0.02,7.9,0.122,68,124,0.9994,3.47,0.53,9.9,5
401,7.7,0.260,0.30,1.7,0.059,20,38,0.9949,3.29,0.47,10.8,6
402,12.2,0.480,0.54,2.6,0.085,19,64,1.0000,3.10,0.61,10.5,6
403,11.4,0.600,0.49,2.7,0.085,10,41,0.9994,3.15,0.63,10.5,6
404,7.7,0.690,0.05,2.7,0.075,15,27,0.9974,3.26,0.61,9.1,5
405,8.7,0.310,0.46,1.4,0.059,11,25,0.9966,3.36,0.76,10.1,6
406,9.8,0.440,0.47,2.5,0.063,9,28,0.9981,3.24,0.65,10.8,6
407,12.0,0.390,0.66,3.0,0.093,12,30,0.9996,3.18,0.63,10.8,7
408,10.4,0.340,0.58,3.7,0.174,6,16,0.9970,3.19,0.70,11.3,6
409,12.5,0.460,0.49,4.5,0.070,26,49,0.9981,3.05,0.57,9.6,4

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
410,9.0,0.430,0.34,2.5,0.080,26,86,0.9987,3.38,0.62,9.5,6
411,9.1,0.450,0.35,2.4,0.080,23,78,0.9987,3.38,0.62,9.5,5
412,7.1,0.735,0.16,1.9,0.100,15,77,0.9966,3.27,0.64,9.3,5
413,9.9,0.400,0.53,6.7,0.097,6,19,0.9986,3.27,0.82,11.7,7
414,8.8,0.520,0.34,2.7,0.087,24,122,0.9982,3.26,0.61,9.5,5
415,8.6,0.725,0.24,6.6,0.117,31,134,1.0014,3.32,1.07,9.3,5
416,10.6,0.480,0.64,2.2,0.111,6,20,0.9970,3.26,0.66,11.7,6
417,7.0,0.580,0.12,1.9,0.091,34,124,0.9956,3.44,0.48,10.5,5
418,11.9,0.380,0.51,2.0,0.121,7,20,0.9996,3.24,0.76,10.4,6
419,6.8,0.770,0.00,1.8,0.066,34,52,0.9976,3.62,0.68,9.9,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
420,9.5,0.56,0.33,2.4,0.089,35,67,0.9972,3.28,0.73,11.8,7
421,6.6,0.84,0.03,2.3,0.059,32,48,0.9952,3.52,0.56,12.3,7
422,7.7,0.96,0.20,2.0,0.047,15,60,0.9955,3.36,0.44,10.9,5
423,10.5,0.24,0.47,2.1,0.066,6,24,0.9978,3.15,0.90,11.0,7
424,7.7,0.96,0.20,2.0,0.047,15,60,0.9955,3.36,0.44,10.9,5
425,6.6,0.84,0.03,2.3,0.059,32,48,0.9952,3.52,0.56,12.3,7
426,6.4,0.67,0.08,2.1,0.045,19,48,0.9949,3.49,0.49,11.4,6
427,9.5,0.78,0.22,1.9,0.077,6,32,0.9988,3.26,0.56,10.6,6
428,9.1,0.52,0.33,1.3,0.070,9,30,0.9978,3.24,0.60,9.3,5
429,12.8,0.84,0.63,2.4,0.088,13,35,0.9997,3.10,0.60,10.4,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
430,10.5,0.24,0.47,2.1,0.066,6,24,0.9978,3.15,0.90,11.0,7
431,7.8,0.55,0.35,2.2,0.074,21,66,0.9974,3.25,0.56,9.2,5
432,11.9,0.37,0.69,2.3,0.078,12,24,0.9958,3.00,0.65,12.8,6
433,12.3,0.39,0.63,2.3,0.091,6,18,1.0004,3.16,0.49,9.5,5
434,10.4,0.41,0.55,3.2,0.076,22,54,0.9996,3.15,0.89,9.9,6
435,12.3,0.39,0.63,2.3,0.091,6,18,1.0004,3.16,0.49,9.5,5
436,8.0,0.67,0.30,2.0,0.060,38,62,0.9958,3.26,0.56,10.2,6
437,11.1,0.45,0.73,3.2,0.066,6,22,0.9986,3.17,0.66,11.2,6
438,10.4,0.41,0.55,3.2,0.076,22,54,0.9996,3.15,0.89,9.9,6
439,7.0,0.62,0.18,1.5,0.062,7,50,0.9951,3.08,0.60,9.3,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
440,12.6,0.310,0.72,2.20,0.072,6,29,0.9987,2.88,0.82,9.8,8
441,11.9,0.400,0.65,2.15,0.068,7,27,0.9988,3.06,0.68,11.3,6
442,15.6,0.685,0.76,3.70,0.100,6,43,1.0032,2.95,0.68,11.2,7
443,10.0,0.440,0.49,2.70,0.077,11,19,0.9963,3.23,0.63,11.6,7
444,5.3,0.570,0.01,1.70,0.054,5,27,0.9934,3.57,0.84,12.5,7
445,9.5,0.735,0.10,2.10,0.079,6,31,0.9986,3.23,0.56,10.1,6
446,12.5,0.380,0.60,2.60,0.081,31,72,0.9996,3.10,0.73,10.5,5
447,9.3,0.480,0.29,2.10,0.127,6,16,0.9968,3.22,0.72,11.2,5
448,8.6,0.530,0.22,2.00,0.100,7,27,0.9967,3.20,0.56,10.2,6
449,11.9,0.390,0.69,2.80,0.095,17,35,0.9994,3.10,0.61,10.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
450,11.9,0.39,0.69,2.8,0.095,17,35,0.9994,3.10,0.61,10.8,6
451,8.4,0.37,0.53,1.8,0.413,9,26,0.9979,3.06,1.06,9.1,6
452,6.8,0.56,0.03,1.7,0.084,18,35,0.9968,3.44,0.63,10.0,6
453,10.4,0.33,0.63,2.8,0.084,5,22,0.9998,3.26,0.74,11.2,7
454,7.0,0.23,0.40,1.6,0.063,21,67,0.9952,3.50,0.63,11.1,5
455,11.3,0.62,0.67,5.2,0.086,6,19,0.9988,3.22,0.69,13.4,8
456,8.9,0.59,0.39,2.3,0.095,5,22,0.9986,3.37,0.58,10.3,5
457,9.2,0.63,0.21,2.7,0.097,29,65,0.9988,3.28,0.58,9.6,5
458,10.4,0.33,0.63,2.8,0.084,5,22,0.9998,3.26,0.74,11.2,7
459,11.6,0.58,0.66,2.2,0.074,10,47,1.0008,3.25,0.57,9.0,3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
460,9.2,0.430,0.52,2.30,0.083,14,23,0.9976,3.35,0.61,11.3,6
461,8.3,0.615,0.22,2.60,0.087,6,19,0.9982,3.26,0.61,9.3,5
462,11.0,0.260,0.68,2.55,0.085,10,25,0.9970,3.18,0.61,11.8,5
463,8.1,0.660,0.70,2.20,0.098,25,129,0.9972,3.08,0.53,9.0,5
464,11.5,0.315,0.54,2.10,0.084,5,15,0.9987,2.98,0.70,9.2,6
465,10.0,0.290,0.40,2.90,0.098,10,26,1.0006,3.48,0.91,9.7,5
466,10.3,0.500,0.42,2.00,0.069,21,51,0.9982,3.16,0.72,11.5,6
467,8.8,0.460,0.45,2.60,0.065,7,18,0.9947,3.32,0.79,14.0,6
468,11.4,0.360,0.69,2.10,0.090,6,21,1.0000,3.17,0.62,9.2,6
469,8.7,0.820,0.02,1.20,0.070,36,48,0.9952,3.20,0.58,9.8,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
470,13.0,0.320,0.65,2.6,0.093,15,47,0.9996,3.05,0.61,10.6,5
471,9.6,0.540,0.42,2.4,0.081,25,52,0.9970,3.20,0.71,11.4,6
472,12.5,0.370,0.55,2.6,0.083,25,68,0.9995,3.15,0.82,10.4,6
473,9.9,0.350,0.55,2.1,0.062,5,14,0.9971,3.26,0.79,10.6,5
474,10.5,0.280,0.51,1.7,0.080,10,24,0.9982,3.20,0.89,9.4,6
475,9.6,0.680,0.24,2.2,0.087,5,28,0.9988,3.14,0.60,10.2,5
476,9.3,0.270,0.41,2.0,0.091,6,16,0.9980,3.28,0.70,9.7,5
477,10.4,0.240,0.49,1.8,0.075,6,20,0.9977,3.18,1.06,11.0,6
478,9.6,0.680,0.24,2.2,0.087,5,28,0.9988,3.14,0.60,10.2,5
479,9.4,0.685,0.11,2.7,0.077,6,31,0.9984,3.19,0.70,10.1,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
480,10.6,0.280,0.39,15.5,0.069,6,23,1.0026,3.12,0.66,9.2,5
481,9.4,0.300,0.56,2.8,0.080,6,17,0.9964,3.15,0.92,11.7,8
482,10.6,0.360,0.59,2.2,0.152,6,18,0.9986,3.04,1.05,9.4,5
483,10.6,0.360,0.60,2.2,0.152,7,18,0.9986,3.04,1.06,9.4,5
484,10.6,0.440,0.68,4.1,0.114,6,24,0.9970,3.06,0.66,13.4,6
485,10.2,0.670,0.39,1.9,0.054,6,17,0.9976,3.17,0.47,10.0,5
486,10.2,0.670,0.39,1.9,0.054,6,17,0.9976,3.17,0.47,10.0,5
487,10.2,0.645,0.36,1.8,0.053,5,14,0.9982,3.17,0.42,10.0,6
488,11.6,0.320,0.55,2.8,0.081,35,67,1.0002,3.32,0.92,10.8,7
489,9.3,0.390,0.40,2.6,0.073,10,26,0.9984,3.34,0.75,10.2,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
490,9.3,0.775,0.27,2.8,0.078,24,56,0.9984,3.31,0.67,10.6,6
491,9.2,0.410,0.50,2.5,0.055,12,25,0.9952,3.34,0.79,13.3,7
492,8.9,0.400,0.51,2.6,0.052,13,27,0.9950,3.32,0.90,13.4,7
493,8.7,0.690,0.31,3.0,0.086,23,81,1.0002,3.48,0.74,11.6,6
494,6.5,0.390,0.23,8.3,0.051,28,91,0.9952,3.44,0.55,12.1,6
495,10.7,0.350,0.53,2.6,0.070,5,16,0.9972,3.15,0.65,11.0,8
496,7.8,0.520,0.25,1.9,0.081,14,38,0.9984,3.43,0.65,9.0,6
497,7.2,0.340,0.32,2.5,0.090,43,113,0.9966,3.32,0.79,11.1,5
498,10.7,0.350,0.53,2.6,0.070,5,16,0.9972,3.15,0.65,11.0,8
499,8.7,0.690,0.31,3.0,0.086,23,81,1.0002,3.48,0.74,11.6,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
500,7.8,0.52,0.25,1.90,0.081,14,38,0.9984,3.43,0.65,9.0,6
501,10.4,0.44,0.73,6.55,0.074,38,76,0.9990,3.17,0.85,12.0,7
502,10.4,0.44,0.73,6.55,0.074,38,76,0.9990,3.17,0.85,12.0,7
503,10.5,0.26,0.47,1.90,0.078,6,24,0.9976,3.18,1.04,10.9,7
504,10.5,0.24,0.42,1.80,0.077,6,22,0.9976,3.21,1.05,10.8,7
505,10.2,0.49,0.63,2.90,0.072,10,26,0.9968,3.16,0.78,12.5,7
506,10.4,0.24,0.46,1.80,0.075,6,21,0.9976,3.25,1.02,10.8,7
507,11.2,0.67,0.55,2.30,0.084,6,13,1.0000,3.17,0.71,9.5,6
508,10.0,0.59,0.31,2.20,0.090,26,62,0.9994,3.18,0.63,10.2,6
509,13.3,0.29,0.75,2.80,0.084,23,43,0.9986,3.04,0.68,11.4,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
510,12.4,0.420,0.49,4.6,0.073,19,43,0.9978,3.02,0.61,9.5,5
511,10.0,0.590,0.31,2.2,0.090,26,62,0.9994,3.18,0.63,10.2,6
512,10.7,0.400,0.48,2.1,0.125,15,49,0.9980,3.03,0.81,9.7,6
513,10.5,0.510,0.64,2.4,0.107,6,15,0.9973,3.09,0.66,11.8,7
514,10.5,0.510,0.64,2.4,0.107,6,15,0.9973,3.09,0.66,11.8,7
515,8.5,0.655,0.49,6.1,0.122,34,151,1.0010,3.31,1.14,9.3,5
516,12.5,0.600,0.49,4.3,0.100,5,14,1.0010,3.25,0.74,11.9,6
517,10.4,0.610,0.49,2.1,0.200,5,16,0.9994,3.16,0.63,8.4,3
518,10.9,0.210,0.49,2.8,0.088,11,32,0.9972,3.22,0.68,11.7,6
519,7.3,0.365,0.49,2.5,0.088,39,106,0.9966,3.36,0.78,11.0,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
520,9.8,0.250,0.49,2.7,0.088,15,33,0.9982,3.42,0.90,10.0,6
521,7.6,0.410,0.49,2.0,0.088,16,43,0.9980,3.48,0.64,9.1,5
522,8.2,0.390,0.49,2.3,0.099,47,133,0.9979,3.38,0.99,9.8,5
523,9.3,0.400,0.49,2.5,0.085,38,142,0.9978,3.22,0.55,9.4,5
524,9.2,0.430,0.49,2.4,0.086,23,116,0.9976,3.23,0.64,9.5,5
525,10.4,0.640,0.24,2.8,0.105,29,53,0.9998,3.24,0.67,9.9,5
526,7.3,0.365,0.49,2.5,0.088,39,106,0.9966,3.36,0.78,11.0,5
527,7.0,0.380,0.49,2.5,0.097,33,85,0.9962,3.39,0.77,11.4,6
528,8.2,0.420,0.49,2.6,0.084,32,55,0.9988,3.34,0.75,8.7,6
529,9.9,0.630,0.24,2.4,0.077,6,33,0.9974,3.09,0.57,9.4,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
530,9.1,0.220,0.24,2.10,0.078,1,28,0.9990,3.41,0.87,10.3,6
531,11.9,0.380,0.49,2.70,0.098,12,42,1.0004,3.16,0.61,10.3,5
532,11.9,0.380,0.49,2.70,0.098,12,42,1.0004,3.16,0.61,10.3,5
533,10.3,0.270,0.24,2.10,0.072,15,33,0.9956,3.22,0.66,12.8,6
534,10.0,0.480,0.24,2.70,0.102,13,32,1.0000,3.28,0.56,10.0,6
535,9.1,0.220,0.24,2.10,0.078,1,28,0.9990,3.41,0.87,10.3,6
536,9.9,0.630,0.24,2.40,0.077,6,33,0.9974,3.09,0.57,9.4,5
537,8.1,0.825,0.24,2.10,0.084,5,13,0.9972,3.37,0.77,10.7,6
538,12.9,0.350,0.49,5.80,0.066,5,35,1.0014,3.20,0.66,12.0,7
539,11.2,0.500,0.74,5.15,0.100,5,17,0.9996,3.22,0.62,11.2,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
540,9.2,0.590,0.24,3.3,0.101,20,47,0.9988,3.26,0.67,9.6,5
541,9.5,0.460,0.49,6.3,0.064,5,17,0.9988,3.21,0.73,11.0,6
542,9.3,0.715,0.24,2.1,0.070,5,20,0.9966,3.12,0.59,9.9,5
543,11.2,0.660,0.24,2.5,0.085,16,53,0.9993,3.06,0.72,11.0,6
544,14.3,0.310,0.74,1.8,0.075,6,15,1.0008,2.86,0.79,8.4,6
545,9.1,0.470,0.49,2.6,0.094,38,106,0.9982,3.08,0.59,9.1,5
546,7.5,0.550,0.24,2.0,0.078,10,28,0.9983,3.45,0.78,9.5,6
547,10.6,0.310,0.49,2.5,0.067,6,21,0.9987,3.26,0.86,10.7,6
548,12.4,0.350,0.49,2.6,0.079,27,69,0.9994,3.12,0.75,10.4,6
549,9.0,0.530,0.49,1.9,0.171,6,25,0.9975,3.27,0.61,9.4,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
550,6.8,0.510,0.01,2.1,0.074,9,25,0.99580,3.33,0.56,9.5,6
551,9.4,0.430,0.24,2.8,0.092,14,45,0.99800,3.19,0.73,10.0,6
552,9.5,0.460,0.24,2.7,0.092,14,44,0.99800,3.12,0.74,10.0,6
553,5.0,1.040,0.24,1.6,0.050,32,96,0.99340,3.74,0.62,11.5,5
554,15.5,0.645,0.49,4.2,0.095,10,23,1.00315,2.92,0.74,11.1,5
555,15.5,0.645,0.49,4.2,0.095,10,23,1.00315,2.92,0.74,11.1,5
556,10.9,0.530,0.49,4.6,0.118,10,17,1.00020,3.07,0.56,11.7,6
557,15.6,0.645,0.49,4.2,0.095,10,23,1.00315,2.92,0.74,11.1,5
558,10.9,0.530,0.49,4.6,0.118,10,17,1.00020,3.07,0.56,11.7,6
559,13.0,0.470,0.49,4.3,0.085,6,47,1.00210,3.30,0.68,12.7,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
560,12.7,0.60,0.49,2.8,0.075,5,19,0.9994,3.14,0.57,11.4,5
561,9.0,0.44,0.49,2.4,0.078,26,121,0.9978,3.23,0.58,9.2,5
562,9.0,0.54,0.49,2.9,0.094,41,110,0.9982,3.08,0.61,9.2,5
563,7.6,0.29,0.49,2.7,0.092,25,60,0.9971,3.31,0.61,10.1,6
564,13.0,0.47,0.49,4.3,0.085,6,47,1.0021,3.30,0.68,12.7,6
565,12.7,0.60,0.49,2.8,0.075,5,19,0.9994,3.14,0.57,11.4,5
566,8.7,0.70,0.24,2.5,0.226,5,15,0.9991,3.32,0.60,9.0,6
567,8.7,0.70,0.24,2.5,0.226,5,15,0.9991,3.32,0.60,9.0,6
568,9.8,0.50,0.49,2.6,0.250,5,20,0.9990,3.31,0.79,10.7,6
569,6.2,0.36,0.24,2.2,0.095,19,42,0.9946,3.57,0.57,11.7,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
570,11.5,0.35,0.49,3.3,0.070,10,37,1.0003,3.32,0.91,11.0,6
571,6.2,0.36,0.24,2.2,0.095,19,42,0.9946,3.57,0.57,11.7,6
572,10.2,0.24,0.49,2.4,0.075,10,28,0.9978,3.14,0.61,10.4,5
573,10.5,0.59,0.49,2.1,0.070,14,47,0.9991,3.30,0.56,9.6,4
574,10.6,0.34,0.49,3.2,0.078,20,78,0.9992,3.19,0.70,10.0,6
575,12.3,0.27,0.49,3.1,0.079,28,46,0.9993,3.20,0.80,10.2,6
576,9.9,0.50,0.24,2.3,0.103,6,14,0.9978,3.34,0.52,10.0,4
577,8.8,0.44,0.49,2.8,0.083,18,111,0.9982,3.30,0.60,9.5,5
578,8.8,0.47,0.49,2.9,0.085,17,110,0.9982,3.29,0.60,9.8,5
579,10.6,0.31,0.49,2.2,0.063,18,40,0.9976,3.14,0.51,9.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
580,12.3,0.50,0.49,2.2,0.089,5,14,1.0002,3.19,0.44,9.6,5
581,12.3,0.50,0.49,2.2,0.089,5,14,1.0002,3.19,0.44,9.6,5
582,11.7,0.49,0.49,2.2,0.083,5,15,1.0000,3.19,0.43,9.2,5
583,12.0,0.28,0.49,1.9,0.074,10,21,0.9976,2.98,0.66,9.9,7
584,11.8,0.33,0.49,3.4,0.093,54,80,1.0002,3.30,0.76,10.7,7
585,7.6,0.51,0.24,2.4,0.091,8,38,0.9980,3.47,0.66,9.6,6
586,11.1,0.31,0.49,2.7,0.094,16,47,0.9986,3.12,1.02,10.6,7
587,7.3,0.73,0.24,1.9,0.108,18,102,0.9967,3.26,0.59,9.3,5
588,5.0,0.42,0.24,2.0,0.060,19,50,0.9917,3.72,0.74,14.0,8
589,10.2,0.29,0.49,2.6,0.059,5,13,0.9976,3.05,0.74,10.5,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
590,9.0,0.450,0.49,2.6,0.084,21,75,0.9987,3.35,0.57,9.7,5
591,6.6,0.390,0.49,1.7,0.070,23,149,0.9922,3.12,0.50,11.5,6
592,9.0,0.450,0.49,2.6,0.084,21,75,0.9987,3.35,0.57,9.7,5
593,9.9,0.490,0.58,3.5,0.094,9,43,1.0004,3.29,0.58,9.0,5
594,7.9,0.720,0.17,2.6,0.096,20,38,0.9978,3.40,0.53,9.5,5
595,8.9,0.595,0.41,7.9,0.086,30,109,0.9998,3.27,0.57,9.3,5
596,12.4,0.400,0.51,2.0,0.059,6,24,0.9994,3.04,0.60,9.3,6
597,11.9,0.580,0.58,1.9,0.071,5,18,0.9980,3.09,0.63,10.0,6
598,8.5,0.585,0.18,2.1,0.078,5,30,0.9967,3.20,0.48,9.8,6
599,12.7,0.590,0.45,2.3,0.082,11,22,1.0000,3.00,0.70,9.3,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
600,8.2,0.915,0.27,2.1,0.088,7,23,0.9962,3.26,0.47,10.0,4
601,13.2,0.460,0.52,2.2,0.071,12,35,1.0006,3.10,0.56,9.0,6
602,7.7,0.835,0.00,2.6,0.081,6,14,0.9975,3.30,0.52,9.3,5
603,13.2,0.460,0.52,2.2,0.071,12,35,1.0006,3.10,0.56,9.0,6
604,8.3,0.580,0.13,2.9,0.096,14,63,0.9984,3.17,0.62,9.1,6
605,8.3,0.600,0.13,2.6,0.085,6,24,0.9984,3.31,0.59,9.2,6
606,9.4,0.410,0.48,4.6,0.072,10,20,0.9973,3.34,0.79,12.2,7
607,8.8,0.480,0.41,3.3,0.092,26,52,0.9982,3.31,0.53,10.5,6
608,10.1,0.650,0.37,5.1,0.110,11,65,1.0026,3.32,0.64,10.4,6
609,6.3,0.360,0.19,3.2,0.075,15,39,0.9956,3.56,0.52,12.7,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
610,8.8,0.240,0.54,2.5,0.083,25,57,0.9983,3.39,0.54,9.2,5
611,13.2,0.380,0.55,2.7,0.081,5,16,1.0006,2.98,0.54,9.4,5
612,7.5,0.640,0.00,2.4,0.077,18,29,0.9965,3.32,0.60,10.0,6
613,8.2,0.390,0.38,1.5,0.058,10,29,0.9962,3.26,0.74,9.8,5
614,9.2,0.755,0.18,2.2,0.148,10,103,0.9969,2.87,1.36,10.2,6
615,9.6,0.600,0.50,2.3,0.079,28,71,0.9997,3.50,0.57,9.7,5
616,9.6,0.600,0.50,2.3,0.079,28,71,0.9997,3.50,0.57,9.7,5
617,11.5,0.310,0.51,2.2,0.079,14,28,0.9982,3.03,0.93,9.8,6
618,11.4,0.460,0.50,2.7,0.122,4,17,1.0006,3.13,0.70,10.2,5
619,11.3,0.370,0.41,2.3,0.088,6,16,0.9988,3.09,0.80,9.3,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
620,8.3,0.540,0.24,3.4,0.076,16,112,0.9976,3.27,0.61,9.4,5
621,8.2,0.560,0.23,3.4,0.078,14,104,0.9976,3.28,0.62,9.4,5
622,10.0,0.580,0.22,1.9,0.080,9,32,0.9974,3.13,0.55,9.5,5
623,7.9,0.510,0.25,2.9,0.077,21,45,0.9974,3.49,0.96,12.1,6
624,6.8,0.690,0.00,5.6,0.124,21,58,0.9997,3.46,0.72,10.2,5
625,6.8,0.690,0.00,5.6,0.124,21,58,0.9997,3.46,0.72,10.2,5
626,8.8,0.600,0.29,2.2,0.098,5,15,0.9988,3.36,0.49,9.1,5
627,8.8,0.600,0.29,2.2,0.098,5,15,0.9988,3.36,0.49,9.1,5
628,8.7,0.540,0.26,2.5,0.097,7,31,0.9976,3.27,0.60,9.3,6
629,7.6,0.685,0.23,2.3,0.111,20,84,0.9964,3.21,0.61,9.3,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
630,8.7,0.540,0.26,2.5,0.097,7,31,0.9976,3.27,0.60,9.3,6
631,10.4,0.280,0.54,2.7,0.105,5,19,0.9988,3.25,0.63,9.5,5
632,7.6,0.410,0.14,3.0,0.087,21,43,0.9964,3.32,0.57,10.5,6
633,10.1,0.935,0.22,3.4,0.105,11,86,1.0010,3.43,0.64,11.3,4
634,7.9,0.350,0.21,1.9,0.073,46,102,0.9964,3.27,0.58,9.5,5
635,8.7,0.840,0.00,1.4,0.065,24,33,0.9954,3.27,0.55,9.7,5
636,9.6,0.880,0.28,2.4,0.086,30,147,0.9979,3.24,0.53,9.4,5
637,9.5,0.885,0.27,2.3,0.084,31,145,0.9978,3.24,0.53,9.4,5
638,7.7,0.915,0.12,2.2,0.143,7,23,0.9964,3.35,0.65,10.2,7
639,8.9,0.290,0.35,1.9,0.067,25,57,0.9970,3.18,1.36,10.3,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
640,9.9,0.540,0.45,2.3,0.071,16,40,0.9991,3.39,0.62,9.4,5
641,9.5,0.590,0.44,2.3,0.071,21,68,0.9992,3.46,0.63,9.5,5
642,9.9,0.540,0.45,2.3,0.071,16,40,0.9991,3.39,0.62,9.4,5
643,9.5,0.590,0.44,2.3,0.071,21,68,0.9992,3.46,0.63,9.5,5
644,9.9,0.540,0.45,2.3,0.071,16,40,0.9991,3.39,0.62,9.4,5
645,7.8,0.640,0.10,6.0,0.115,5,11,0.9984,3.37,0.69,10.1,7
646,7.3,0.670,0.05,3.6,0.107,6,20,0.9972,3.40,0.63,10.1,5
647,8.3,0.845,0.01,2.2,0.070,5,14,0.9967,3.32,0.58,11.0,4
648,8.7,0.480,0.30,2.8,0.066,10,28,0.9964,3.33,0.67,11.2,7
649,6.7,0.420,0.27,8.6,0.068,24,148,0.9948,3.16,0.57,11.3,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
650,10.7,0.43,0.39,2.2,0.106,8,32,0.9986,2.89,0.50,9.6,5
651,9.8,0.88,0.25,2.5,0.104,35,155,1.0010,3.41,0.67,11.2,5
652,15.9,0.36,0.65,7.5,0.096,22,71,0.9976,2.98,0.84,14.9,5
653,9.4,0.33,0.59,2.8,0.079,9,30,0.9976,3.12,0.54,12.0,6
654,8.6,0.47,0.47,2.4,0.074,7,29,0.9979,3.08,0.46,9.5,5
655,9.7,0.55,0.17,2.9,0.087,20,53,1.0004,3.14,0.61,9.4,5
656,10.7,0.43,0.39,2.2,0.106,8,32,0.9986,2.89,0.50,9.6,5
657,12.0,0.50,0.59,1.4,0.073,23,42,0.9980,2.92,0.68,10.5,7
658,7.2,0.52,0.07,1.4,0.074,5,20,0.9973,3.32,0.81,9.6,6
659,7.1,0.84,0.02,4.4,0.096,5,13,0.9970,3.41,0.57,11.0,4

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
660,7.2,0.52,0.07,1.4,0.074,5,20,0.9973,3.32,0.81,9.6,6
661,7.5,0.42,0.31,1.6,0.080,15,42,0.9978,3.31,0.64,9.0,5
662,7.2,0.57,0.06,1.6,0.076,9,27,0.9972,3.36,0.70,9.6,6
663,10.1,0.28,0.46,1.8,0.050,5,13,0.9974,3.04,0.79,10.2,6
664,12.1,0.40,0.52,2.0,0.092,15,54,1.0000,3.03,0.66,10.2,5
665,9.4,0.59,0.14,2.0,0.084,25,48,0.9981,3.14,0.56,9.7,5
666,8.3,0.49,0.36,1.8,0.222,6,16,0.9980,3.18,0.60,9.5,6
667,11.3,0.34,0.45,2.0,0.082,6,15,0.9988,2.94,0.66,9.2,6
668,10.0,0.73,0.43,2.3,0.059,15,31,0.9966,3.15,0.57,11.0,5
669,11.3,0.34,0.45,2.0,0.082,6,15,0.9988,2.94,0.66,9.2,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
670,6.9,0.40,0.24,2.5,0.083,30,45,0.9959,3.26,0.58,10.0,5
671,8.2,0.73,0.21,1.7,0.074,5,13,0.9968,3.20,0.52,9.5,5
672,9.8,1.24,0.34,2.0,0.079,32,151,0.9980,3.15,0.53,9.5,5
673,8.2,0.73,0.21,1.7,0.074,5,13,0.9968,3.20,0.52,9.5,5
674,10.8,0.40,0.41,2.2,0.084,7,17,0.9984,3.08,0.67,9.3,6
675,9.3,0.41,0.39,2.2,0.064,12,31,0.9984,3.26,0.65,10.2,5
676,10.8,0.40,0.41,2.2,0.084,7,17,0.9984,3.08,0.67,9.3,6
677,8.6,0.80,0.11,2.3,0.084,12,31,0.9979,3.40,0.48,9.9,5
678,8.3,0.78,0.10,2.6,0.081,45,87,0.9983,3.48,0.53,10.0,5
679,10.8,0.26,0.45,3.3,0.060,20,49,0.9972,3.13,0.54,9.6,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
680,13.3,0.43,0.58,1.90,0.070,15,40,1.0004,3.06,0.49,9.0,5
681,8.0,0.45,0.23,2.20,0.094,16,29,0.9962,3.21,0.49,10.2,6
682,8.5,0.46,0.31,2.25,0.078,32,58,0.9980,3.33,0.54,9.8,5
683,8.1,0.78,0.23,2.60,0.059,5,15,0.9970,3.37,0.56,11.3,5
684,9.8,0.98,0.32,2.30,0.078,35,152,0.9980,3.25,0.48,9.4,5
685,8.1,0.78,0.23,2.60,0.059,5,15,0.9970,3.37,0.56,11.3,5
686,7.1,0.65,0.18,1.80,0.070,13,40,0.9970,3.44,0.60,9.1,5
687,9.1,0.64,0.23,3.10,0.095,13,38,0.9998,3.28,0.59,9.7,5
688,7.7,0.66,0.04,1.60,0.039,4,9,0.9962,3.40,0.47,9.4,5
689,8.1,0.38,0.48,1.80,0.157,5,17,0.9976,3.30,1.05,9.4,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
690,7.4,1.185,0.00,4.25,0.097,5,14,0.9966,3.63,0.54,10.7,3
691,9.2,0.920,0.24,2.60,0.087,12,93,0.9998,3.48,0.54,9.8,5
692,8.6,0.490,0.51,2.00,0.422,16,62,0.9979,3.03,1.17,9.0,5
693,9.0,0.480,0.32,2.80,0.084,21,122,0.9984,3.32,0.62,9.4,5
694,9.0,0.470,0.31,2.70,0.084,24,125,0.9984,3.31,0.61,9.4,5
695,5.1,0.470,0.02,1.30,0.034,18,44,0.9921,3.90,0.62,12.8,6
696,7.0,0.650,0.02,2.10,0.066,8,25,0.9972,3.47,0.67,9.5,6
697,7.0,0.650,0.02,2.10,0.066,8,25,0.9972,3.47,0.67,9.5,6
698,9.4,0.615,0.28,3.20,0.087,18,72,1.0001,3.31,0.53,9.7,5
699,11.8,0.380,0.55,2.10,0.071,5,19,0.9986,3.11,0.62,10.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
700,10.6,1.020,0.43,2.9,0.076,26,88,0.9984,3.08,0.57,10.1,6
701,7.0,0.650,0.02,2.1,0.066,8,25,0.9972,3.47,0.67,9.5,6
702,7.0,0.640,0.02,2.1,0.067,9,23,0.9970,3.47,0.67,9.4,6
703,7.5,0.380,0.48,2.6,0.073,22,84,0.9972,3.32,0.70,9.6,4
704,9.1,0.765,0.04,1.6,0.078,4,14,0.9980,3.29,0.54,9.7,4
705,8.4,1.035,0.15,6.0,0.073,11,54,0.9990,3.37,0.49,9.9,5
706,7.0,0.780,0.08,2.0,0.093,10,19,0.9956,3.40,0.47,10.0,5
707,7.4,0.490,0.19,3.0,0.077,16,37,0.9966,3.37,0.51,10.5,5
708,7.8,0.545,0.12,2.5,0.068,11,35,0.9960,3.34,0.61,11.6,6
709,9.7,0.310,0.47,1.6,0.062,13,33,0.9983,3.27,0.66,10.0,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
710,10.6,1.025,0.43,2.8,0.080,21,84,0.9985,3.06,0.57,10.1,5
711,8.9,0.565,0.34,3.0,0.093,16,112,0.9998,3.38,0.61,9.5,5
712,8.7,0.690,0.00,3.2,0.084,13,33,0.9992,3.36,0.45,9.4,5
713,8.0,0.430,0.36,2.3,0.075,10,48,0.9976,3.34,0.46,9.4,5
714,9.9,0.740,0.28,2.6,0.078,21,77,0.9980,3.28,0.51,9.8,5
715,7.2,0.490,0.18,2.7,0.069,13,34,0.9967,3.29,0.48,9.2,6
716,8.0,0.430,0.36,2.3,0.075,10,48,0.9976,3.34,0.46,9.4,5
717,7.6,0.460,0.11,2.6,0.079,12,49,0.9968,3.21,0.57,10.0,5
718,8.4,0.560,0.04,2.0,0.082,10,22,0.9976,3.22,0.44,9.6,5
719,7.1,0.660,0.00,3.9,0.086,17,45,0.9976,3.46,0.54,9.5,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
720,8.4,0.560,0.04,2.00,0.082,10,22,0.9976,3.22,0.44,9.6,5
721,8.9,0.480,0.24,2.85,0.094,35,106,0.9982,3.10,0.53,9.2,5
722,7.6,0.420,0.08,2.70,0.084,15,48,0.9968,3.21,0.59,10.0,5
723,7.1,0.310,0.30,2.20,0.053,36,127,0.9965,2.94,1.62,9.5,5
724,7.5,1.115,0.10,3.10,0.086,5,12,0.9958,3.54,0.60,11.2,4
725,9.0,0.660,0.17,3.00,0.077,5,13,0.9976,3.29,0.55,10.4,5
726,8.1,0.720,0.09,2.80,0.084,18,49,0.9994,3.43,0.72,11.1,6
727,6.4,0.570,0.02,1.80,0.067,4,11,0.9970,3.46,0.68,9.5,5
728,6.4,0.570,0.02,1.80,0.067,4,11,0.9970,3.46,0.68,9.5,5
729,6.4,0.865,0.03,3.20,0.071,27,58,0.9950,3.61,0.49,12.7,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
730,9.5,0.550,0.66,2.30,0.387,12,37,0.9982,3.17,0.67,9.6,5
731,8.9,0.875,0.13,3.45,0.088,4,14,0.9994,3.44,0.52,11.5,5
732,7.3,0.835,0.03,2.10,0.092,10,19,0.9966,3.39,0.47,9.6,5
733,7.0,0.450,0.34,2.70,0.082,16,72,0.9980,3.55,0.60,9.5,5
734,7.7,0.560,0.20,2.00,0.075,9,39,0.9987,3.48,0.62,9.3,5
735,7.7,0.965,0.10,2.10,0.112,11,22,0.9963,3.26,0.50,9.5,5
736,7.7,0.965,0.10,2.10,0.112,11,22,0.9963,3.26,0.50,9.5,5
737,8.2,0.590,0.00,2.50,0.093,19,58,1.0002,3.50,0.65,9.3,6
738,9.0,0.460,0.23,2.80,0.092,28,104,0.9983,3.10,0.56,9.2,5
739,9.0,0.690,0.00,2.40,0.088,19,38,0.9990,3.35,0.60,9.3,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
740,8.3,0.760,0.29,4.2,0.075,12,16,0.99650,3.45,0.68,11.5,6
741,9.2,0.530,0.24,2.6,0.078,28,139,0.99788,3.21,0.57,9.5,5
742,6.5,0.615,0.00,1.9,0.065,9,18,0.99720,3.46,0.65,9.2,5
743,11.6,0.410,0.58,2.8,0.096,25,101,1.00024,3.13,0.53,10.0,5
744,11.1,0.390,0.54,2.7,0.095,21,101,1.00010,3.13,0.51,9.5,5
745,7.3,0.510,0.18,2.1,0.070,12,28,0.99768,3.52,0.73,9.5,6
746,8.2,0.340,0.38,2.5,0.080,12,57,0.99780,3.30,0.47,9.0,6
747,8.6,0.330,0.40,2.6,0.083,16,68,0.99782,3.30,0.48,9.4,5
748,7.2,0.500,0.18,2.1,0.071,12,31,0.99761,3.52,0.72,9.6,6
749,7.3,0.510,0.18,2.1,0.070,12,28,0.99768,3.52,0.73,9.5,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
750,8.3,0.65,0.10,2.9,0.089,17,40,0.99803,3.29,0.55,9.5,5
751,8.3,0.65,0.10,2.9,0.089,17,40,0.99803,3.29,0.55,9.5,5
752,7.6,0.54,0.13,2.5,0.097,24,66,0.99785,3.39,0.61,9.4,5
753,8.3,0.65,0.10,2.9,0.089,17,40,0.99803,3.29,0.55,9.5,5
754,7.8,0.48,0.68,1.7,0.415,14,32,0.99656,3.09,1.06,9.1,6
755,7.8,0.91,0.07,1.9,0.058,22,47,0.99525,3.51,0.43,10.7,6
756,6.3,0.98,0.01,2.0,0.057,15,33,0.99488,3.60,0.46,11.2,6
757,8.1,0.87,0.00,2.2,0.084,10,31,0.99656,3.25,0.50,9.8,5
758,8.1,0.87,0.00,2.2,0.084,10,31,0.99656,3.25,0.50,9.8,5
759,8.8,0.42,0.21,2.5,0.092,33,88,0.99823,3.19,0.52,9.2,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
760,9.0,0.580,0.25,2.8,0.075,9,104,0.99779,3.23,0.57,9.7,5
761,9.3,0.655,0.26,2.0,0.096,5,35,0.99738,3.25,0.42,9.6,5
762,8.8,0.700,0.00,1.7,0.069,8,19,0.99701,3.31,0.53,10.0,6
763,9.3,0.655,0.26,2.0,0.096,5,35,0.99738,3.25,0.42,9.6,5
764,9.1,0.680,0.11,2.8,0.093,11,44,0.99888,3.31,0.55,9.5,6
765,9.2,0.670,0.10,3.0,0.091,12,48,0.99888,3.31,0.54,9.5,6
766,8.8,0.590,0.18,2.9,0.089,12,74,0.99738,3.14,0.54,9.4,5
767,7.5,0.600,0.32,2.7,0.103,13,98,0.99938,3.45,0.62,9.5,5
768,7.1,0.590,0.02,2.3,0.082,24,94,0.99744,3.55,0.53,9.7,6
769,7.9,0.720,0.01,1.9,0.076,7,32,0.99668,3.39,0.54,9.6,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
770,7.1,0.590,0.02,2.3,0.082,24.0,94,0.99744,3.55,0.53,9.7,6
771,9.4,0.685,0.26,2.4,0.082,23.0,143,0.99780,3.28,0.55,9.4,5
772,9.5,0.570,0.27,2.3,0.082,23.0,144,0.99782,3.27,0.55,9.4,5
773,7.9,0.400,0.29,1.8,0.157,1.0,44,0.99730,3.30,0.92,9.5,6
774,7.9,0.400,0.30,1.8,0.157,2.0,45,0.99727,3.31,0.91,9.5,6
775,7.2,1.000,0.00,3.0,0.102,7.0,16,0.99586,3.43,0.46,10.0,5
776,6.9,0.765,0.18,2.4,0.243,5.5,48,0.99612,3.40,0.60,10.3,6
777,6.9,0.635,0.17,2.4,0.241,6.0,18,0.99610,3.40,0.59,10.3,6
778,8.3,0.430,0.30,3.4,0.079,7.0,34,0.99788,3.36,0.61,10.5,5
779,7.1,0.520,0.03,2.6,0.076,21.0,92,0.99745,3.50,0.60,9.8,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
780,7.0,0.57,0.00,2.0,0.190,12,45,0.99676,3.31,0.60,9.4,6
781,6.5,0.46,0.14,2.4,0.114,9,37,0.99732,3.66,0.65,9.8,5
782,9.0,0.82,0.05,2.4,0.081,26,96,0.99814,3.36,0.53,10.0,5
783,6.5,0.46,0.14,2.4,0.114,9,37,0.99732,3.66,0.65,9.8,5
784,7.1,0.59,0.01,2.5,0.077,20,85,0.99746,3.55,0.59,9.8,5
785,9.9,0.35,0.41,2.3,0.083,11,61,0.99820,3.21,0.50,9.5,5
786,9.9,0.35,0.41,2.3,0.083,11,61,0.99820,3.21,0.50,9.5,5
787,10.0,0.56,0.24,2.2,0.079,19,58,0.99910,3.18,0.56,10.1,6
788,10.0,0.56,0.24,2.2,0.079,19,58,0.99910,3.18,0.56,10.1,6
789,8.6,0.63,0.17,2.9,0.099,21,119,0.99800,3.09,0.52,9.3,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
790,7.4,0.37,0.43,2.6,0.082,18,82,0.99708,3.33,0.68,9.7,6
791,8.8,0.64,0.17,2.9,0.084,25,130,0.99818,3.23,0.54,9.6,5
792,7.1,0.61,0.02,2.5,0.081,17,87,0.99745,3.48,0.60,9.7,6
793,7.7,0.60,0.00,2.6,0.055,7,13,0.99639,3.38,0.56,10.8,5
794,10.1,0.27,0.54,2.3,0.065,7,26,0.99531,3.17,0.53,12.5,6
795,10.8,0.89,0.30,2.6,0.132,7,60,0.99786,2.99,1.18,10.2,5
796,8.7,0.46,0.31,2.5,0.126,24,64,0.99746,3.10,0.74,9.6,5
797,9.3,0.37,0.44,1.6,0.038,21,42,0.99526,3.24,0.81,10.8,7
798,9.4,0.50,0.34,3.6,0.082,5,14,0.99870,3.29,0.52,10.7,6
799,9.4,0.50,0.34,3.6,0.082,5,14,0.99870,3.29,0.52,10.7,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
800,7.2,0.610,0.08,4.0,0.082,26,108,0.99641,3.25,0.51,9.4,5
801,8.6,0.550,0.09,3.3,0.068,8,17,0.99735,3.23,0.44,10.0,5
802,5.1,0.585,0.00,1.7,0.044,14,86,0.99264,3.56,0.94,12.9,7
803,7.7,0.560,0.08,2.5,0.114,14,46,0.99710,3.24,0.66,9.6,6
804,8.4,0.520,0.22,2.7,0.084,4,18,0.99682,3.26,0.57,9.9,6
805,8.2,0.280,0.40,2.4,0.052,4,10,0.99356,3.33,0.70,12.8,7
806,8.4,0.250,0.39,2.0,0.041,4,10,0.99386,3.27,0.71,12.5,7
807,8.2,0.280,0.40,2.4,0.052,4,10,0.99356,3.33,0.70,12.8,7
808,7.4,0.530,0.12,1.9,0.165,4,12,0.99702,3.26,0.86,9.2,5
809,7.6,0.480,0.31,2.8,0.070,4,15,0.99693,3.22,0.55,10.3,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
810,7.3,0.490,0.10,2.60,0.068,4,14,0.99562,3.30,0.47,10.5,5
811,12.9,0.500,0.55,2.80,0.072,7,24,1.00012,3.09,0.68,10.9,6
812,10.8,0.450,0.33,2.50,0.099,20,38,0.99818,3.24,0.71,10.8,5
813,6.9,0.390,0.24,2.10,0.102,4,7,0.99462,3.44,0.58,11.4,4
814,12.6,0.410,0.54,2.80,0.103,19,41,0.99939,3.21,0.76,11.3,6
815,10.8,0.450,0.33,2.50,0.099,20,38,0.99818,3.24,0.71,10.8,5
816,9.8,0.510,0.19,3.20,0.081,8,30,0.99840,3.23,0.58,10.5,6
817,10.8,0.290,0.42,1.60,0.084,19,27,0.99545,3.28,0.73,11.9,6
818,7.1,0.715,0.00,2.35,0.071,21,47,0.99632,3.29,0.45,9.4,5
819,9.1,0.660,0.15,3.20,0.097,9,59,0.99976,3.28,0.54,9.6,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
820,7.0,0.685,0.00,1.9,0.099,9,22,0.99606,3.34,0.60,9.7,5
821,4.9,0.420,0.00,2.1,0.048,16,42,0.99154,3.71,0.74,14.0,7
822,6.7,0.540,0.13,2.0,0.076,15,36,0.99730,3.61,0.64,9.8,5
823,6.7,0.540,0.13,2.0,0.076,15,36,0.99730,3.61,0.64,9.8,5
824,7.1,0.480,0.28,2.8,0.068,6,16,0.99682,3.24,0.53,10.3,5
825,7.1,0.460,0.14,2.8,0.076,15,37,0.99624,3.36,0.49,10.7,5
826,7.5,0.270,0.34,2.3,0.050,4,8,0.99510,3.40,0.64,11.0,7
827,7.1,0.460,0.14,2.8,0.076,15,37,0.99624,3.36,0.49,10.7,5
828,7.8,0.570,0.09,2.3,0.065,34,45,0.99417,3.46,0.74,12.7,8
829,5.9,0.610,0.08,2.1,0.071,16,24,0.99376,3.56,0.77,11.1,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
830,7.5,0.685,0.07,2.5,0.058,5,9,0.99632,3.38,0.55,10.9,4
831,5.9,0.610,0.08,2.1,0.071,16,24,0.99376,3.56,0.77,11.1,6
832,10.4,0.440,0.42,1.5,0.145,34,48,0.99832,3.38,0.86,9.9,3
833,11.6,0.470,0.44,1.6,0.147,36,51,0.99836,3.38,0.86,9.9,4
834,8.8,0.685,0.26,1.6,0.088,16,23,0.99694,3.32,0.47,9.4,5
835,7.6,0.665,0.10,1.5,0.066,27,55,0.99655,3.39,0.51,9.3,5
836,6.7,0.280,0.28,2.4,0.012,36,100,0.99064,3.26,0.39,11.7,7
837,6.7,0.280,0.28,2.4,0.012,36,100,0.99064,3.26,0.39,11.7,7
838,10.1,0.310,0.35,1.6,0.075,9,28,0.99672,3.24,0.83,11.2,7
839,6.0,0.500,0.04,2.2,0.092,13,26,0.99647,3.46,0.47,10.0,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
840,11.1,0.420,0.47,2.65,0.085,9,34,0.99736,3.24,0.77,12.1,7
841,6.6,0.660,0.00,3.00,0.115,21,31,0.99629,3.45,0.63,10.3,5
842,10.6,0.500,0.45,2.60,0.119,34,68,0.99708,3.23,0.72,10.9,6
843,7.1,0.685,0.35,2.00,0.088,9,92,0.99630,3.28,0.62,9.4,5
844,9.9,0.250,0.46,1.70,0.062,26,42,0.99590,3.18,0.83,10.6,6
845,6.4,0.640,0.21,1.80,0.081,14,31,0.99689,3.59,0.66,9.8,5
846,6.4,0.640,0.21,1.80,0.081,14,31,0.99689,3.59,0.66,9.8,5
847,7.4,0.680,0.16,1.80,0.078,12,39,0.99770,3.50,0.70,9.9,6
848,6.4,0.640,0.21,1.80,0.081,14,31,0.99689,3.59,0.66,9.8,5
849,6.4,0.630,0.21,1.60,0.080,12,32,0.99689,3.58,0.66,9.8,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
850,9.3,0.430,0.44,1.9,0.085,9,22,0.99708,3.28,0.55,9.5,5
851,9.3,0.430,0.44,1.9,0.085,9,22,0.99708,3.28,0.55,9.5,5
852,8.0,0.420,0.32,2.5,0.080,26,122,0.99801,3.22,1.07,9.7,5
853,9.3,0.360,0.39,1.5,0.080,41,55,0.99652,3.47,0.73,10.9,6
854,9.3,0.360,0.39,1.5,0.080,41,55,0.99652,3.47,0.73,10.9,6
855,7.6,0.735,0.02,2.5,0.071,10,14,0.99538,3.51,0.71,11.7,7
856,9.3,0.360,0.39,1.5,0.080,41,55,0.99652,3.47,0.73,10.9,6
857,8.2,0.260,0.34,2.5,0.073,16,47,0.99594,3.40,0.78,11.3,7
858,11.7,0.280,0.47,1.7,0.054,17,32,0.99686,3.15,0.67,10.6,7
859,6.8,0.560,0.22,1.8,0.074,15,24,0.99438,3.40,0.82,11.2,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
860,7.2,0.620,0.06,2.7,0.077,15,85,0.99746,3.51,0.54,9.5,5
861,5.8,1.010,0.66,2.0,0.039,15,88,0.99357,3.66,0.60,11.5,6
862,7.5,0.420,0.32,2.7,0.067,7,25,0.99628,3.24,0.44,10.4,5
863,7.2,0.620,0.06,2.5,0.078,17,84,0.99746,3.51,0.53,9.7,5
864,7.2,0.620,0.06,2.7,0.077,15,85,0.99746,3.51,0.54,9.5,5
865,7.2,0.635,0.07,2.6,0.077,16,86,0.99748,3.51,0.54,9.7,5
866,6.8,0.490,0.22,2.3,0.071,13,24,0.99438,3.41,0.83,11.3,6
867,6.9,0.510,0.23,2.0,0.072,13,22,0.99438,3.40,0.84,11.2,6
868,6.8,0.560,0.22,1.8,0.074,15,24,0.99438,3.40,0.82,11.2,6
869,7.6,0.630,0.03,2.0,0.080,27,43,0.99578,3.44,0.64,10.9,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
870,7.7,0.715,0.01,2.1,0.064,31,43,0.99371,3.41,0.57,11.8,6
871,6.9,0.560,0.03,1.5,0.086,36,46,0.99522,3.53,0.57,10.6,5
872,7.3,0.350,0.24,2.0,0.067,28,48,0.99576,3.43,0.54,10.0,4
873,9.1,0.210,0.37,1.6,0.067,6,10,0.99552,3.23,0.58,11.1,7
874,10.4,0.380,0.46,2.1,0.104,6,10,0.99664,3.12,0.65,11.8,7
875,8.8,0.310,0.40,2.8,0.109,7,16,0.99614,3.31,0.79,11.8,7
876,7.1,0.470,0.00,2.2,0.067,7,14,0.99517,3.40,0.58,10.9,4
877,7.7,0.715,0.01,2.1,0.064,31,43,0.99371,3.41,0.57,11.8,6
878,8.8,0.610,0.19,4.0,0.094,30,69,0.99787,3.22,0.50,10.0,6
879,7.2,0.600,0.04,2.5,0.076,18,88,0.99745,3.53,0.55,9.5,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
880,9.2,0.560,0.18,1.6,0.078,10,21,0.99576,3.15,0.49,9.9,5
881,7.6,0.715,0.00,2.1,0.068,30,35,0.99533,3.48,0.65,11.4,6
882,8.4,0.310,0.29,3.1,0.194,14,26,0.99536,3.22,0.78,12.0,6
883,7.2,0.600,0.04,2.5,0.076,18,88,0.99745,3.53,0.55,9.5,5
884,8.8,0.610,0.19,4.0,0.094,30,69,0.99787,3.22,0.50,10.0,6
885,8.9,0.750,0.14,2.5,0.086,9,30,0.99824,3.34,0.64,10.5,5
886,9.0,0.800,0.12,2.4,0.083,8,28,0.99836,3.33,0.65,10.4,6
887,10.7,0.520,0.38,2.6,0.066,29,56,0.99577,3.15,0.79,12.1,7
888,6.8,0.570,0.00,2.5,0.072,32,64,0.99491,3.43,0.56,11.2,6
889,10.7,0.900,0.34,6.6,0.112,23,99,1.00289,3.22,0.68,9.3,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
890,7.2,0.34,0.24,2.0,0.071,30,52,0.99576,3.44,0.58,10.1,5
891,7.2,0.66,0.03,2.3,0.078,16,86,0.99743,3.53,0.57,9.7,5
892,10.1,0.45,0.23,1.9,0.082,10,18,0.99774,3.22,0.65,9.3,6
893,7.2,0.66,0.03,2.3,0.078,16,86,0.99743,3.53,0.57,9.7,5
894,7.2,0.63,0.03,2.2,0.080,17,88,0.99745,3.53,0.58,9.8,6
895,7.1,0.59,0.01,2.3,0.080,27,43,0.99550,3.42,0.58,10.7,6
896,8.3,0.31,0.39,2.4,0.078,17,43,0.99444,3.31,0.77,12.5,7
897,7.1,0.59,0.01,2.3,0.080,27,43,0.99550,3.42,0.58,10.7,6
898,8.3,0.31,0.39,2.4,0.078,17,43,0.99444,3.31,0.77,12.5,7
899,8.3,1.02,0.02,3.4,0.084,6,11,0.99892,3.48,0.49,11.0,3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
900,8.9,0.310,0.36,2.6,0.056,10,39,0.99562,3.40,0.69,11.8,5
901,7.4,0.635,0.10,2.4,0.080,16,33,0.99736,3.58,0.69,10.8,7
902,7.4,0.635,0.10,2.4,0.080,16,33,0.99736,3.58,0.69,10.8,7
903,6.8,0.590,0.06,6.0,0.060,11,18,0.99620,3.41,0.59,10.8,7
904,6.8,0.590,0.06,6.0,0.060,11,18,0.99620,3.41,0.59,10.8,7
905,9.2,0.580,0.20,3.0,0.081,15,115,0.99800,3.23,0.59,9.5,5
906,7.2,0.540,0.27,2.6,0.084,12,78,0.99640,3.39,0.71,11.0,5
907,6.1,0.560,0.00,2.2,0.079,6,9,0.99480,3.59,0.54,11.5,6
908,7.4,0.520,0.13,2.4,0.078,34,61,0.99528,3.43,0.59,10.8,6
909,7.3,0.305,0.39,1.2,0.059,7,11,0.99331,3.29,0.52,11.5,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
910,9.3,0.380,0.48,3.8,0.132,3,11,0.99577,3.23,0.57,13.2,6
911,9.1,0.280,0.46,9.0,0.114,3,9,0.99901,3.18,0.60,10.9,6
912,10.0,0.460,0.44,2.9,0.065,4,8,0.99674,3.33,0.62,12.2,6
913,9.4,0.395,0.46,4.6,0.094,3,10,0.99639,3.27,0.64,12.2,7
914,7.3,0.305,0.39,1.2,0.059,7,11,0.99331,3.29,0.52,11.5,6
915,8.6,0.315,0.40,2.2,0.079,3,6,0.99512,3.27,0.67,11.9,6
916,5.3,0.715,0.19,1.5,0.161,7,62,0.99395,3.62,0.61,11.0,5
917,6.8,0.410,0.31,8.8,0.084,26,45,0.99824,3.38,0.64,10.1,6
918,8.4,0.360,0.32,2.2,0.081,32,79,0.99640,3.30,0.72,11.0,6
919,8.4,0.620,0.12,1.8,0.072,38,46,0.99504,3.38,0.89,11.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
920,9.6,0.41,0.37,2.3,0.091,10,23,0.99786,3.24,0.56,10.5,5
921,8.4,0.36,0.32,2.2,0.081,32,79,0.99640,3.30,0.72,11.0,6
922,8.4,0.62,0.12,1.8,0.072,38,46,0.99504,3.38,0.89,11.8,6
923,6.8,0.41,0.31,8.8,0.084,26,45,0.99824,3.38,0.64,10.1,6
924,8.6,0.47,0.27,2.3,0.055,14,28,0.99516,3.18,0.80,11.2,5
925,8.6,0.22,0.36,1.9,0.064,53,77,0.99604,3.47,0.87,11.0,7
926,9.4,0.24,0.33,2.3,0.061,52,73,0.99786,3.47,0.90,10.2,6
927,8.4,0.67,0.19,2.2,0.093,11,75,0.99736,3.20,0.59,9.2,4
928,8.6,0.47,0.27,2.3,0.055,14,28,0.99516,3.18,0.80,11.2,5
929,8.7,0.33,0.38,3.3,0.063,10,19,0.99468,3.30,0.73,12.0,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
930,6.6,0.61,0.01,1.9,0.080,8,25,0.99746,3.69,0.73,10.5,5
931,7.4,0.61,0.01,2.0,0.074,13,38,0.99748,3.48,0.65,9.8,5
932,7.6,0.40,0.29,1.9,0.078,29,66,0.99710,3.45,0.59,9.5,6
933,7.4,0.61,0.01,2.0,0.074,13,38,0.99748,3.48,0.65,9.8,5
934,6.6,0.61,0.01,1.9,0.080,8,25,0.99746,3.69,0.73,10.5,5
935,8.8,0.30,0.38,2.3,0.060,19,72,0.99543,3.39,0.72,11.8,6
936,8.8,0.30,0.38,2.3,0.060,19,72,0.99543,3.39,0.72,11.8,6
937,12.0,0.63,0.50,1.4,0.071,6,26,0.99791,3.07,0.60,10.4,4
938,7.2,0.38,0.38,2.8,0.068,23,42,0.99356,3.34,0.72,12.9,7
939,6.2,0.46,0.17,1.6,0.073,7,11,0.99425,3.61,0.54,11.4,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
940,9.6,0.33,0.52,2.2,0.074,13,25,0.99509,3.36,0.76,12.4,7
941,9.9,0.27,0.49,5.0,0.082,9,17,0.99484,3.19,0.52,12.5,7
942,10.1,0.43,0.40,2.6,0.092,13,52,0.99834,3.22,0.64,10.0,7
943,9.8,0.50,0.34,2.3,0.094,10,45,0.99864,3.24,0.60,9.7,7
944,8.3,0.30,0.49,3.8,0.090,11,24,0.99498,3.27,0.64,12.1,7
945,10.2,0.44,0.42,2.0,0.071,7,20,0.99566,3.14,0.79,11.1,7
946,10.2,0.44,0.58,4.1,0.092,11,24,0.99745,3.29,0.99,12.0,7
947,8.3,0.28,0.48,2.1,0.093,6,12,0.99408,3.26,0.62,12.4,7
948,8.9,0.12,0.45,1.8,0.075,10,21,0.99552,3.41,0.76,11.9,7
949,8.9,0.12,0.45,1.8,0.075,10,21,0.99552,3.41,0.76,11.9,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
950,8.9,0.12,0.45,1.8,0.075,10,21,0.99552,3.41,0.76,11.9,7
951,8.3,0.28,0.48,2.1,0.093,6,12,0.99408,3.26,0.62,12.4,7
952,8.2,0.31,0.40,2.2,0.058,6,10,0.99536,3.31,0.68,11.2,7
953,10.2,0.34,0.48,2.1,0.052,5,9,0.99458,3.20,0.69,12.1,7
954,7.6,0.43,0.40,2.7,0.082,6,11,0.99538,3.44,0.54,12.2,6
955,8.5,0.21,0.52,1.9,0.090,9,23,0.99648,3.36,0.67,10.4,5
956,9.0,0.36,0.52,2.1,0.111,5,10,0.99568,3.31,0.62,11.3,6
957,9.5,0.37,0.52,2.0,0.088,12,51,0.99613,3.29,0.58,11.1,6
958,6.4,0.57,0.12,2.3,0.120,25,36,0.99519,3.47,0.71,11.3,7
959,8.0,0.59,0.05,2.0,0.089,12,32,0.99735,3.36,0.61,10.0,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
960,8.5,0.47,0.27,1.9,0.058,18,38,0.99518,3.16,0.85,11.1,6
961,7.1,0.56,0.14,1.6,0.078,7,18,0.99592,3.27,0.62,9.3,5
962,6.6,0.57,0.02,2.1,0.115,6,16,0.99654,3.38,0.69,9.5,5
963,8.8,0.27,0.39,2.0,0.100,20,27,0.99546,3.15,0.69,11.2,6
964,8.5,0.47,0.27,1.9,0.058,18,38,0.99518,3.16,0.85,11.1,6
965,8.3,0.34,0.40,2.4,0.065,24,48,0.99554,3.34,0.86,11.0,6
966,9.0,0.38,0.41,2.4,0.103,6,10,0.99604,3.13,0.58,11.9,7
967,8.5,0.66,0.20,2.1,0.097,23,113,0.99733,3.13,0.48,9.2,5
968,9.0,0.40,0.43,2.4,0.068,29,46,0.99430,3.20,0.60,12.2,6
969,6.7,0.56,0.09,2.9,0.079,7,22,0.99669,3.46,0.61,10.2,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
970,10.4,0.26,0.48,1.9,0.066,6,10,0.99724,3.33,0.87,10.9,6
971,10.4,0.26,0.48,1.9,0.066,6,10,0.99724,3.33,0.87,10.9,6
972,10.1,0.38,0.50,2.4,0.104,6,13,0.99643,3.22,0.65,11.6,7
973,8.5,0.34,0.44,1.7,0.079,6,12,0.99605,3.52,0.63,10.7,5
974,8.8,0.33,0.41,5.9,0.073,7,13,0.99658,3.30,0.62,12.1,7
975,7.2,0.41,0.30,2.1,0.083,35,72,0.99700,3.44,0.52,9.4,5
976,7.2,0.41,0.30,2.1,0.083,35,72,0.99700,3.44,0.52,9.4,5
977,8.4,0.59,0.29,2.6,0.109,31,119,0.99801,3.15,0.50,9.1,5
978,7.0,0.40,0.32,3.6,0.061,9,29,0.99416,3.28,0.49,11.3,7
979,12.2,0.45,0.49,1.4,0.075,3,6,0.99690,3.13,0.63,10.4,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
980,9.1,0.500,0.30,1.9,0.065,8,17,0.99774,3.32,0.71,10.5,6
981,9.5,0.860,0.26,1.9,0.079,13,28,0.99712,3.25,0.62,10.0,5
982,7.3,0.520,0.32,2.1,0.070,51,70,0.99418,3.34,0.82,12.9,6
983,9.1,0.500,0.30,1.9,0.065,8,17,0.99774,3.32,0.71,10.5,6
984,12.2,0.450,0.49,1.4,0.075,3,6,0.99690,3.13,0.63,10.4,5
985,7.4,0.580,0.00,2.0,0.064,7,11,0.99562,3.45,0.58,11.3,6
986,9.8,0.340,0.39,1.4,0.066,3,7,0.99470,3.19,0.55,11.4,7
987,7.1,0.360,0.30,1.6,0.080,35,70,0.99693,3.44,0.50,9.4,5
988,7.7,0.390,0.12,1.7,0.097,19,27,0.99596,3.16,0.49,9.4,5
989,9.7,0.295,0.40,1.5,0.073,14,21,0.99556,3.14,0.51,10.9,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
990,7.7,0.39,0.12,1.70,0.097,19,27,0.99596,3.16,0.49,9.4,5
991,7.1,0.34,0.28,2.00,0.082,31,68,0.99694,3.45,0.48,9.4,5
992,6.5,0.40,0.10,2.00,0.076,30,47,0.99554,3.36,0.48,9.4,6
993,7.1,0.34,0.28,2.00,0.082,31,68,0.99694,3.45,0.48,9.4,5
994,10.0,0.35,0.45,2.50,0.092,20,88,0.99918,3.15,0.43,9.4,5
995,7.7,0.60,0.06,2.00,0.079,19,41,0.99697,3.39,0.62,10.1,6
996,5.6,0.66,0.00,2.20,0.087,3,11,0.99378,3.71,0.63,12.8,7
997,5.6,0.66,0.00,2.20,0.087,3,11,0.99378,3.71,0.63,12.8,7
998,8.9,0.84,0.34,1.40,0.050,4,10,0.99554,3.12,0.48,9.1,6
999,6.4,0.69,0.00,1.65,0.055,7,12,0.99162,3.47,0.53,12.9,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1000,7.5,0.43,0.30,2.20,0.062,6,12,0.99495,3.44,0.72,11.5,7
1001,9.9,0.35,0.38,1.50,0.058,31,47,0.99676,3.26,0.82,10.6,7
1002,9.1,0.29,0.33,2.05,0.063,13,27,0.99516,3.26,0.84,11.7,7
1003,6.8,0.36,0.32,1.80,0.067,4,8,0.99280,3.36,0.55,12.8,7
1004,8.2,0.43,0.29,1.60,0.081,27,45,0.99603,3.25,0.54,10.3,5
1005,6.8,0.36,0.32,1.80,0.067,4,8,0.99280,3.36,0.55,12.8,7
1006,9.1,0.29,0.33,2.05,0.063,13,27,0.99516,3.26,0.84,11.7,7
1007,9.1,0.30,0.34,2.00,0.064,12,25,0.99516,3.26,0.84,11.7,7
1008,8.9,0.35,0.40,3.60,0.110,12,24,0.99549,3.23,0.70,12.0,7
1009,9.6,0.50,0.36,2.80,0.116,26,55,0.99722,3.18,0.68,10.9,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1010,8.9,0.280,0.45,1.7,0.067,7,12,0.99354,3.25,0.55,12.3,7
1011,8.9,0.320,0.31,2.0,0.088,12,19,0.99570,3.17,0.55,10.4,6
1012,7.7,1.005,0.15,2.1,0.102,11,32,0.99604,3.23,0.48,10.0,5
1013,7.5,0.710,0.00,1.6,0.092,22,31,0.99635,3.38,0.58,10.0,6
1014,8.0,0.580,0.16,2.0,0.120,3,7,0.99454,3.22,0.58,11.2,6
1015,10.5,0.390,0.46,2.2,0.075,14,27,0.99598,3.06,0.84,11.4,6
1016,8.9,0.380,0.40,2.2,0.068,12,28,0.99486,3.27,0.75,12.6,7
1017,8.0,0.180,0.37,0.9,0.049,36,109,0.99007,2.89,0.44,12.7,6
1018,8.0,0.180,0.37,0.9,0.049,36,109,0.99007,2.89,0.44,12.7,6
1019,7.0,0.500,0.14,1.8,0.078,10,23,0.99636,3.53,0.61,10.4,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1020,11.3,0.360,0.66,2.4,0.123,3,8,0.99642,3.20,0.53,11.9,6
1021,11.3,0.360,0.66,2.4,0.123,3,8,0.99642,3.20,0.53,11.9,6
1022,7.0,0.510,0.09,2.1,0.062,4,9,0.99584,3.35,0.54,10.5,5
1023,8.2,0.320,0.42,2.3,0.098,3,9,0.99506,3.27,0.55,12.3,6
1024,7.7,0.580,0.01,1.8,0.088,12,18,0.99568,3.32,0.56,10.5,7
1025,8.6,0.830,0.00,2.8,0.095,17,43,0.99822,3.33,0.60,10.4,6
1026,7.9,0.310,0.32,1.9,0.066,14,36,0.99364,3.41,0.56,12.6,6
1027,6.4,0.795,0.00,2.2,0.065,28,52,0.99378,3.49,0.52,11.6,5
1028,7.2,0.340,0.21,2.5,0.075,41,68,0.99586,3.37,0.54,10.1,6
1029,7.7,0.580,0.01,1.8,0.088,12,18,0.99568,3.32,0.56,10.5,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1030,7.1,0.590,0.00,2.1,0.091,9,14,0.99488,3.42,0.55,11.5,7
1031,7.3,0.550,0.01,1.8,0.093,9,15,0.99514,3.35,0.58,11.0,7
1032,8.1,0.820,0.00,4.1,0.095,5,14,0.99854,3.36,0.53,9.6,5
1033,7.5,0.570,0.08,2.6,0.089,14,27,0.99592,3.30,0.59,10.4,6
1034,8.9,0.745,0.18,2.5,0.077,15,48,0.99739,3.20,0.47,9.7,6
1035,10.1,0.370,0.34,2.4,0.085,5,17,0.99683,3.17,0.65,10.6,7
1036,7.6,0.310,0.34,2.5,0.082,26,35,0.99356,3.22,0.59,12.5,7
1037,7.3,0.910,0.10,1.8,0.074,20,56,0.99672,3.35,0.56,9.2,5
1038,8.7,0.410,0.41,6.2,0.078,25,42,0.99530,3.24,0.77,12.6,7
1039,8.9,0.500,0.21,2.2,0.088,21,39,0.99692,3.33,0.83,11.1,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1040,7.4,0.965,0.00,2.2,0.088,16,32,0.99756,3.58,0.67,10.2,5
1041,6.9,0.490,0.19,1.7,0.079,13,26,0.99547,3.38,0.64,9.8,6
1042,8.9,0.500,0.21,2.2,0.088,21,39,0.99692,3.33,0.83,11.1,6
1043,9.5,0.390,0.41,8.9,0.069,18,39,0.99859,3.29,0.81,10.9,7
1044,6.4,0.390,0.33,3.3,0.046,12,53,0.99294,3.36,0.62,12.2,6
1045,6.9,0.440,0.00,1.4,0.070,32,38,0.99438,3.32,0.58,11.4,6
1046,7.6,0.780,0.00,1.7,0.076,33,45,0.99612,3.31,0.62,10.7,6
1047,7.1,0.430,0.17,1.8,0.082,27,51,0.99634,3.49,0.64,10.4,5
1048,9.3,0.490,0.36,1.7,0.081,3,14,0.99702,3.27,0.78,10.9,6
1049,9.3,0.500,0.36,1.8,0.084,6,17,0.99704,3.27,0.77,10.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1050,7.1,0.430,0.17,1.8,0.082,27,51,0.99634,3.49,0.64,10.4,5
1051,8.5,0.460,0.59,1.4,0.414,16,45,0.99702,3.03,1.34,9.2,5
1052,5.6,0.605,0.05,2.4,0.073,19,25,0.99258,3.56,0.55,12.9,5
1053,8.3,0.330,0.42,2.3,0.070,9,20,0.99426,3.38,0.77,12.7,7
1054,8.2,0.640,0.27,2.0,0.095,5,77,0.99747,3.13,0.62,9.1,6
1055,8.2,0.640,0.27,2.0,0.095,5,77,0.99747,3.13,0.62,9.1,6
1056,8.9,0.480,0.53,4.0,0.101,3,10,0.99586,3.21,0.59,12.1,7
1057,7.6,0.420,0.25,3.9,0.104,28,90,0.99784,3.15,0.57,9.1,5
1058,9.9,0.530,0.57,2.4,0.093,30,52,0.99710,3.19,0.76,11.6,7
1059,8.9,0.480,0.53,4.0,0.101,3,10,0.99586,3.21,0.59,12.1,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1060,11.6,0.23,0.57,1.8,0.074,3,8,0.99810,3.14,0.70,9.9,6
1061,9.1,0.40,0.50,1.8,0.071,7,16,0.99462,3.21,0.69,12.5,8
1062,8.0,0.38,0.44,1.9,0.098,6,15,0.99560,3.30,0.64,11.4,6
1063,10.2,0.29,0.65,2.4,0.075,6,17,0.99565,3.22,0.63,11.8,6
1064,8.2,0.74,0.09,2.0,0.067,5,10,0.99418,3.28,0.57,11.8,6
1065,7.7,0.61,0.18,2.4,0.083,6,20,0.99630,3.29,0.60,10.2,6
1066,6.6,0.52,0.08,2.4,0.070,13,26,0.99358,3.40,0.72,12.5,7
1067,11.1,0.31,0.53,2.2,0.060,3,10,0.99572,3.02,0.83,10.9,7
1068,11.1,0.31,0.53,2.2,0.060,3,10,0.99572,3.02,0.83,10.9,7
1069,8.0,0.62,0.35,2.8,0.086,28,52,0.99700,3.31,0.62,10.8,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1070,9.3,0.33,0.45,1.5,0.057,19.0,37,0.99498,3.18,0.89,11.1,7
1071,7.5,0.77,0.20,8.1,0.098,30.0,92,0.99892,3.20,0.58,9.2,5
1072,7.2,0.35,0.26,1.8,0.083,33.0,75,0.99680,3.40,0.58,9.5,6
1073,8.0,0.62,0.33,2.7,0.088,16.0,37,0.99720,3.31,0.58,10.7,6
1074,7.5,0.77,0.20,8.1,0.098,30.0,92,0.99892,3.20,0.58,9.2,5
1075,9.1,0.25,0.34,2.0,0.071,45.0,67,0.99769,3.44,0.86,10.2,7
1076,9.9,0.32,0.56,2.0,0.073,3.0,8,0.99534,3.15,0.73,11.4,6
1077,8.6,0.37,0.65,6.4,0.080,3.0,8,0.99817,3.27,0.58,11.0,5
1078,8.6,0.37,0.65,6.4,0.080,3.0,8,0.99817,3.27,0.58,11.0,5
1079,7.9,0.30,0.68,8.3,0.050,37.5,278,0.99316,3.01,0.51,12.3,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1080,10.3,0.27,0.56,1.4,0.047,3.0,8,0.99471,3.16,0.51,11.8,6
1081,7.9,0.30,0.68,8.3,0.050,37.5,289,0.99316,3.01,0.51,12.3,7
1082,7.2,0.38,0.30,1.8,0.073,31.0,70,0.99685,3.42,0.59,9.5,6
1083,8.7,0.42,0.45,2.4,0.072,32.0,59,0.99617,3.33,0.77,12.0,6
1084,7.2,0.38,0.30,1.8,0.073,31.0,70,0.99685,3.42,0.59,9.5,6
1085,6.8,0.48,0.08,1.8,0.074,40.0,64,0.99529,3.12,0.49,9.6,5
1086,8.5,0.34,0.40,4.7,0.055,3.0,9,0.99738,3.38,0.66,11.6,7
1087,7.9,0.19,0.42,1.6,0.057,18.0,30,0.99400,3.29,0.69,11.2,6
1088,11.6,0.41,0.54,1.5,0.095,22.0,41,0.99735,3.02,0.76,9.9,7
1089,11.6,0.41,0.54,1.5,0.095,22.0,41,0.99735,3.02,0.76,9.9,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1090,10.0,0.260,0.54,1.9,0.083,42,74,0.99451,2.98,0.63,11.8,8
1091,7.9,0.340,0.42,2.0,0.086,8,19,0.99546,3.35,0.60,11.4,6
1092,7.0,0.540,0.09,2.0,0.081,10,16,0.99479,3.43,0.59,11.5,6
1093,9.2,0.310,0.36,2.2,0.079,11,31,0.99615,3.33,0.86,12.0,7
1094,6.6,0.725,0.09,5.5,0.117,9,17,0.99655,3.35,0.49,10.8,6
1095,9.4,0.400,0.47,2.5,0.087,6,20,0.99772,3.15,0.50,10.5,5
1096,6.6,0.725,0.09,5.5,0.117,9,17,0.99655,3.35,0.49,10.8,6
1097,8.6,0.520,0.38,1.5,0.096,5,18,0.99666,3.20,0.52,9.4,5
1098,8.0,0.310,0.45,2.1,0.216,5,16,0.99358,3.15,0.81,12.5,7
1099,8.6,0.520,0.38,1.5,0.096,5,18,0.99666,3.20,0.52,9.4,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1100,8.4,0.34,0.42,2.1,0.072,23,36,0.99392,3.11,0.78,12.4,6
1101,7.4,0.49,0.27,2.1,0.071,14,25,0.99388,3.35,0.63,12.0,6
1102,6.1,0.48,0.09,1.7,0.078,18,30,0.99402,3.45,0.54,11.2,6
1103,7.4,0.49,0.27,2.1,0.071,14,25,0.99388,3.35,0.63,12.0,6
1104,8.0,0.48,0.34,2.2,0.073,16,25,0.99360,3.28,0.66,12.4,6
1105,6.3,0.57,0.28,2.1,0.048,13,49,0.99374,3.41,0.60,12.8,5
1106,8.2,0.23,0.42,1.9,0.069,9,17,0.99376,3.21,0.54,12.3,6
1107,9.1,0.30,0.41,2.0,0.068,10,24,0.99523,3.27,0.85,11.7,7
1108,8.1,0.78,0.10,3.3,0.090,4,13,0.99855,3.36,0.49,9.5,5
1109,10.8,0.47,0.43,2.1,0.171,27,66,0.99820,3.17,0.76,10.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1110,8.3,0.53,0.00,1.4,0.070,6,14,0.99593,3.25,0.64,10.0,6
1111,5.4,0.42,0.27,2.0,0.092,23,55,0.99471,3.78,0.64,12.3,7
1112,7.9,0.33,0.41,1.5,0.056,6,35,0.99396,3.29,0.71,11.0,6
1113,8.9,0.24,0.39,1.6,0.074,3,10,0.99698,3.12,0.59,9.5,6
1114,5.0,0.40,0.50,4.3,0.046,29,80,0.99020,3.49,0.66,13.6,6
1115,7.0,0.69,0.07,2.5,0.091,15,21,0.99572,3.38,0.60,11.3,6
1116,7.0,0.69,0.07,2.5,0.091,15,21,0.99572,3.38,0.60,11.3,6
1117,7.0,0.69,0.07,2.5,0.091,15,21,0.99572,3.38,0.60,11.3,6
1118,7.1,0.39,0.12,2.1,0.065,14,24,0.99252,3.30,0.53,13.3,6
1119,5.6,0.66,0.00,2.5,0.066,7,15,0.99256,3.52,0.58,12.9,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1120,7.9,0.54,0.34,2.5,0.076,8,17,0.99235,3.20,0.72,13.1,8
1121,6.6,0.50,0.00,1.8,0.062,21,28,0.99352,3.44,0.55,12.3,6
1122,6.3,0.47,0.00,1.4,0.055,27,33,0.99220,3.45,0.48,12.3,6
1123,10.7,0.40,0.37,1.9,0.081,17,29,0.99674,3.12,0.65,11.2,6
1124,6.5,0.58,0.00,2.2,0.096,3,13,0.99557,3.62,0.62,11.5,4
1125,8.8,0.24,0.35,1.7,0.055,13,27,0.99394,3.14,0.59,11.3,7
1126,5.8,0.29,0.26,1.7,0.063,3,11,0.99150,3.39,0.54,13.5,6
1127,6.3,0.76,0.00,2.9,0.072,26,52,0.99379,3.51,0.60,11.5,6
1128,10.0,0.43,0.33,2.7,0.095,28,89,0.99840,3.22,0.68,10.0,5
1129,10.5,0.43,0.35,3.3,0.092,24,70,0.99798,3.21,0.69,10.5,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1130,9.1,0.60,0.00,1.9,0.058,5,10,0.99770,3.18,0.63,10.4,6
1131,5.9,0.19,0.21,1.7,0.045,57,135,0.99341,3.32,0.44,9.5,5
1132,7.4,0.36,0.34,1.8,0.075,18,38,0.99330,3.38,0.88,13.6,7
1133,7.2,0.48,0.07,5.5,0.089,10,18,0.99684,3.37,0.68,11.2,7
1134,8.5,0.28,0.35,1.7,0.061,6,15,0.99524,3.30,0.74,11.8,7
1135,8.0,0.25,0.43,1.7,0.067,22,50,0.99460,3.38,0.60,11.9,6
1136,10.4,0.52,0.45,2.0,0.080,6,13,0.99774,3.22,0.76,11.4,6
1137,10.4,0.52,0.45,2.0,0.080,6,13,0.99774,3.22,0.76,11.4,6
1138,7.5,0.41,0.15,3.7,0.104,29,94,0.99786,3.14,0.58,9.1,5
1139,8.2,0.51,0.24,2.0,0.079,16,86,0.99764,3.34,0.64,9.5,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1140,7.3,0.40,0.30,1.7,0.080,33,79,0.99690,3.41,0.65,9.5,6
1141,8.2,0.38,0.32,2.5,0.080,24,71,0.99624,3.27,0.85,11.0,6
1142,6.9,0.45,0.11,2.4,0.043,6,12,0.99354,3.30,0.65,11.4,6
1143,7.0,0.22,0.30,1.8,0.065,16,20,0.99672,3.61,0.82,10.0,6
1144,7.3,0.32,0.23,2.3,0.066,35,70,0.99588,3.43,0.62,10.1,5
1145,8.2,0.20,0.43,2.5,0.076,31,51,0.99672,3.53,0.81,10.4,6
1146,7.8,0.50,0.12,1.8,0.178,6,21,0.99600,3.28,0.87,9.8,6
1147,10.0,0.41,0.45,6.2,0.071,6,14,0.99702,3.21,0.49,11.8,7
1148,7.8,0.39,0.42,2.0,0.086,9,21,0.99526,3.39,0.66,11.6,6
1149,10.0,0.35,0.47,2.0,0.061,6,11,0.99585,3.23,0.52,12.0,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1150,8.2,0.33,0.32,2.80,0.067,4,12,0.99473,3.30,0.76,12.8,7
1151,6.1,0.58,0.23,2.50,0.044,16,70,0.99352,3.46,0.65,12.5,6
1152,8.3,0.60,0.25,2.20,0.118,9,38,0.99616,3.15,0.53,9.8,5
1153,9.6,0.42,0.35,2.10,0.083,17,38,0.99622,3.23,0.66,11.1,6
1154,6.6,0.58,0.00,2.20,0.100,50,63,0.99544,3.59,0.68,11.4,6
1155,8.3,0.60,0.25,2.20,0.118,9,38,0.99616,3.15,0.53,9.8,5
1156,8.5,0.18,0.51,1.75,0.071,45,88,0.99524,3.33,0.76,11.8,7
1157,5.1,0.51,0.18,2.10,0.042,16,101,0.99240,3.46,0.87,12.9,7
1158,6.7,0.41,0.43,2.80,0.076,22,54,0.99572,3.42,1.16,10.6,6
1159,10.2,0.41,0.43,2.20,0.110,11,37,0.99728,3.16,0.67,10.8,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1160,10.6,0.360,0.57,2.3,0.087,6,20,0.99676,3.14,0.72,11.1,7
1161,8.8,0.450,0.43,1.4,0.076,12,21,0.99551,3.21,0.75,10.2,6
1162,8.5,0.320,0.42,2.3,0.075,12,19,0.99434,3.14,0.71,11.8,7
1163,9.0,0.785,0.24,1.7,0.078,10,21,0.99692,3.29,0.67,10.0,5
1164,9.0,0.785,0.24,1.7,0.078,10,21,0.99692,3.29,0.67,10.0,5
1165,8.5,0.440,0.50,1.9,0.369,15,38,0.99634,3.01,1.10,9.4,5
1166,9.9,0.540,0.26,2.0,0.111,7,60,0.99709,2.94,0.98,10.2,5
1167,8.2,0.330,0.39,2.5,0.074,29,48,0.99528,3.32,0.88,12.4,7
1168,6.5,0.340,0.27,2.8,0.067,8,44,0.99384,3.21,0.56,12.0,6
1169,7.6,0.500,0.29,2.3,0.086,5,14,0.99502,3.32,0.62,11.5,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1170,9.2,0.360,0.34,1.6,0.062,5,12,0.99667,3.20,0.67,10.5,6
1171,7.1,0.590,0.00,2.2,0.078,26,44,0.99522,3.42,0.68,10.8,6
1172,9.7,0.420,0.46,2.1,0.074,5,16,0.99649,3.27,0.74,12.3,6
1173,7.6,0.360,0.31,1.7,0.079,26,65,0.99716,3.46,0.62,9.5,6
1174,7.6,0.360,0.31,1.7,0.079,26,65,0.99716,3.46,0.62,9.5,6
1175,6.5,0.610,0.00,2.2,0.095,48,59,0.99541,3.61,0.70,11.5,6
1176,6.5,0.880,0.03,5.6,0.079,23,47,0.99572,3.58,0.50,11.2,4
1177,7.1,0.660,0.00,2.4,0.052,6,11,0.99318,3.35,0.66,12.7,7
1178,5.6,0.915,0.00,2.1,0.041,17,78,0.99346,3.68,0.73,11.4,5
1179,8.2,0.350,0.33,2.4,0.076,11,47,0.99599,3.27,0.81,11.0,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1180,8.2,0.350,0.33,2.40,0.076,11,47,0.99599,3.27,0.81,11.0,6
1181,9.8,0.390,0.43,1.65,0.068,5,11,0.99478,3.19,0.46,11.4,5
1182,10.2,0.400,0.40,2.50,0.068,41,54,0.99754,3.38,0.86,10.5,6
1183,6.8,0.660,0.07,1.60,0.070,16,61,0.99572,3.29,0.60,9.3,5
1184,6.7,0.640,0.23,2.10,0.080,11,119,0.99538,3.36,0.70,10.9,5
1185,7.0,0.430,0.30,2.00,0.085,6,39,0.99346,3.33,0.46,11.9,6
1186,6.6,0.800,0.03,7.80,0.079,6,12,0.99630,3.52,0.50,12.2,5
1187,7.0,0.430,0.30,2.00,0.085,6,39,0.99346,3.33,0.46,11.9,6
1188,6.7,0.640,0.23,2.10,0.080,11,119,0.99538,3.36,0.70,10.9,5
1189,8.8,0.955,0.05,1.80,0.075,5,19,0.99616,3.30,0.44,9.6,4

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1190,9.1,0.400,0.57,4.6,0.080,6,20,0.99652,3.28,0.57,12.5,6
1191,6.5,0.885,0.00,2.3,0.166,6,12,0.99551,3.56,0.51,10.8,5
1192,7.2,0.250,0.37,2.5,0.063,11,41,0.99439,3.52,0.80,12.4,7
1193,6.4,0.885,0.00,2.3,0.166,6,12,0.99551,3.56,0.51,10.8,5
1194,7.0,0.745,0.12,1.8,0.114,15,64,0.99588,3.22,0.59,9.5,6
1195,6.2,0.430,0.22,1.8,0.078,21,56,0.99633,3.52,0.60,9.5,6
1196,7.9,0.580,0.23,2.3,0.076,23,94,0.99686,3.21,0.58,9.5,6
1197,7.7,0.570,0.21,1.5,0.069,4,9,0.99458,3.16,0.54,9.8,6
1198,7.7,0.260,0.26,2.0,0.052,19,77,0.99510,3.15,0.79,10.9,6
1199,7.9,0.580,0.23,2.3,0.076,23,94,0.99686,3.21,0.58,9.5,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1200,7.7,0.57,0.21,1.5,0.069,4,9,0.99458,3.16,0.54,9.8,6
1201,7.9,0.34,0.36,1.9,0.065,5,10,0.99419,3.27,0.54,11.2,7
1202,8.6,0.42,0.39,1.8,0.068,6,12,0.99516,3.35,0.69,11.7,8
1203,9.9,0.74,0.19,5.8,0.111,33,76,0.99878,3.14,0.55,9.4,5
1204,7.2,0.36,0.46,2.1,0.074,24,44,0.99534,3.40,0.85,11.0,7
1205,7.2,0.36,0.46,2.1,0.074,24,44,0.99534,3.40,0.85,11.0,7
1206,7.2,0.36,0.46,2.1,0.074,24,44,0.99534,3.40,0.85,11.0,7
1207,9.9,0.72,0.55,1.7,0.136,24,52,0.99752,3.35,0.94,10.0,5
1208,7.2,0.36,0.46,2.1,0.074,24,44,0.99534,3.40,0.85,11.0,7
1209,6.2,0.39,0.43,2.0,0.071,14,24,0.99428,3.45,0.87,11.2,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1210,6.8,0.65,0.02,2.1,0.078,8,15,0.99498,3.35,0.62,10.4,6
1211,6.6,0.44,0.15,2.1,0.076,22,53,0.99570,3.32,0.62,9.3,5
1212,6.8,0.65,0.02,2.1,0.078,8,15,0.99498,3.35,0.62,10.4,6
1213,9.6,0.38,0.42,1.9,0.071,5,13,0.99659,3.15,0.75,10.5,6
1214,10.2,0.33,0.46,1.9,0.081,6,9,0.99628,3.10,0.48,10.4,6
1215,8.8,0.27,0.46,2.1,0.095,20,29,0.99488,3.26,0.56,11.3,6
1216,7.9,0.57,0.31,2.0,0.079,10,79,0.99677,3.29,0.69,9.5,6
1217,8.2,0.34,0.37,1.9,0.057,43,74,0.99408,3.23,0.81,12.0,6
1218,8.2,0.40,0.31,1.9,0.082,8,24,0.99600,3.24,0.69,10.6,6
1219,9.0,0.39,0.40,1.3,0.044,25,50,0.99478,3.20,0.83,10.9,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1220,10.9,0.32,0.52,1.8,0.132,17,44,0.99734,3.28,0.77,11.5,6
1221,10.9,0.32,0.52,1.8,0.132,17,44,0.99734,3.28,0.77,11.5,6
1222,8.1,0.53,0.22,2.2,0.078,33,89,0.99678,3.26,0.46,9.6,6
1223,10.5,0.36,0.47,2.2,0.074,9,23,0.99638,3.23,0.76,12.0,6
1224,12.6,0.39,0.49,2.5,0.080,8,20,0.99920,3.07,0.82,10.3,6
1225,9.2,0.46,0.23,2.6,0.091,18,77,0.99922,3.15,0.51,9.4,5
1226,7.5,0.58,0.03,4.1,0.080,27,46,0.99592,3.02,0.47,9.2,5
1227,9.0,0.58,0.25,2.0,0.104,8,21,0.99769,3.27,0.72,9.6,5
1228,5.1,0.42,0.00,1.8,0.044,18,88,0.99157,3.68,0.73,13.6,7
1229,7.6,0.43,0.29,2.1,0.075,19,66,0.99718,3.40,0.64,9.5,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1230,7.7,0.180,0.34,2.7,0.066,15,58,0.99470,3.37,0.78,11.8,6
1231,7.8,0.815,0.01,2.6,0.074,48,90,0.99621,3.38,0.62,10.8,5
1232,7.6,0.430,0.29,2.1,0.075,19,66,0.99718,3.40,0.64,9.5,5
1233,10.2,0.230,0.37,2.2,0.057,14,36,0.99614,3.23,0.49,9.3,4
1234,7.1,0.750,0.01,2.2,0.059,11,18,0.99242,3.39,0.40,12.8,6
1235,6.0,0.330,0.32,12.9,0.054,6,113,0.99572,3.30,0.56,11.5,4
1236,7.8,0.550,0.00,1.7,0.070,7,17,0.99659,3.26,0.64,9.4,6
1237,7.1,0.750,0.01,2.2,0.059,11,18,0.99242,3.39,0.40,12.8,6
1238,8.1,0.730,0.00,2.5,0.081,12,24,0.99798,3.38,0.46,9.6,4
1239,6.5,0.670,0.00,4.3,0.057,11,20,0.99488,3.45,0.56,11.8,4

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1240,7.5,0.61,0.20,1.7,0.076,36,60,0.99494,3.10,0.40,9.3,5
1241,9.8,0.37,0.39,2.5,0.079,28,65,0.99729,3.16,0.59,9.8,5
1242,9.0,0.40,0.41,2.0,0.058,15,40,0.99414,3.22,0.60,12.2,6
1243,8.3,0.56,0.22,2.4,0.082,10,86,0.99830,3.37,0.62,9.5,5
1244,5.9,0.29,0.25,13.4,0.067,72,160,0.99721,3.33,0.54,10.3,6
1245,7.4,0.55,0.19,1.8,0.082,15,34,0.99655,3.49,0.68,10.5,5
1246,7.4,0.74,0.07,1.7,0.086,15,48,0.99502,3.12,0.48,10.0,5
1247,7.4,0.55,0.19,1.8,0.082,15,34,0.99655,3.49,0.68,10.5,5
1248,6.9,0.41,0.33,2.2,0.081,22,36,0.99490,3.41,0.75,11.1,6
1249,7.1,0.60,0.01,2.3,0.079,24,37,0.99514,3.40,0.61,10.9,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1250,7.1,0.60,0.01,2.3,0.079,24,37,0.99514,3.40,0.61,10.9,6
1251,7.5,0.58,0.14,2.2,0.077,27,60,0.99630,3.28,0.59,9.8,5
1252,7.1,0.72,0.00,1.8,0.123,6,14,0.99627,3.45,0.58,9.8,5
1253,7.9,0.66,0.00,1.4,0.096,6,13,0.99569,3.43,0.58,9.5,5
1254,7.8,0.70,0.06,1.9,0.079,20,35,0.99628,3.40,0.69,10.9,5
1255,6.1,0.64,0.02,2.4,0.069,26,46,0.99358,3.47,0.45,11.0,5
1256,7.5,0.59,0.22,1.8,0.082,43,60,0.99499,3.10,0.42,9.2,5
1257,7.0,0.58,0.28,4.8,0.085,12,69,0.99633,3.32,0.70,11.0,6
1258,6.8,0.64,0.00,2.7,0.123,15,33,0.99538,3.44,0.63,11.3,6
1259,6.8,0.64,0.00,2.7,0.123,15,33,0.99538,3.44,0.63,11.3,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1260,8.6,0.635,0.68,1.8,0.403,19,56,0.99632,3.02,1.15,9.3,5
1261,6.3,1.020,0.00,2.0,0.083,17,24,0.99437,3.59,0.55,11.2,4
1262,9.8,0.450,0.38,2.5,0.081,34,66,0.99726,3.15,0.58,9.8,5
1263,8.2,0.780,0.00,2.2,0.089,13,26,0.99780,3.37,0.46,9.6,4
1264,8.5,0.370,0.32,1.8,0.066,26,51,0.99456,3.38,0.72,11.8,6
1265,7.2,0.570,0.05,2.3,0.081,16,36,0.99564,3.38,0.60,10.3,6
1266,7.2,0.570,0.05,2.3,0.081,16,36,0.99564,3.38,0.60,10.3,6
1267,10.4,0.430,0.50,2.3,0.068,13,19,0.99600,3.10,0.87,11.4,6
1268,6.9,0.410,0.31,2.0,0.079,21,51,0.99668,3.47,0.55,9.5,6
1269,5.5,0.490,0.03,1.8,0.044,28,87,0.99080,3.50,0.82,14.0,8

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1270,5.0,0.380,0.01,1.6,0.048,26,60,0.99084,3.70,0.75,14.0,6
1271,7.3,0.440,0.20,1.6,0.049,24,64,0.99350,3.38,0.57,11.7,6
1272,5.9,0.460,0.00,1.9,0.077,25,44,0.99385,3.50,0.53,11.2,5
1273,7.5,0.580,0.20,2.0,0.073,34,44,0.99494,3.10,0.43,9.3,5
1274,7.8,0.580,0.13,2.1,0.102,17,36,0.99440,3.24,0.53,11.2,6
1275,8.0,0.715,0.22,2.3,0.075,13,81,0.99688,3.24,0.54,9.5,6
1276,8.5,0.400,0.40,6.3,0.050,3,10,0.99566,3.28,0.56,12.0,4
1277,7.0,0.690,0.00,1.9,0.114,3,10,0.99636,3.35,0.60,9.7,6
1278,8.0,0.715,0.22,2.3,0.075,13,81,0.99688,3.24,0.54,9.5,6
1279,9.8,0.300,0.39,1.7,0.062,3,9,0.99480,3.14,0.57,11.5,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1280,7.1,0.460,0.20,1.9,0.077,28,54,0.99560,3.37,0.64,10.4,6
1281,7.1,0.460,0.20,1.9,0.077,28,54,0.99560,3.37,0.64,10.4,6
1282,7.9,0.765,0.00,2.0,0.084,9,22,0.99619,3.33,0.68,10.9,6
1283,8.7,0.630,0.28,2.7,0.096,17,69,0.99734,3.26,0.63,10.2,6
1284,7.0,0.420,0.19,2.3,0.071,18,36,0.99476,3.39,0.56,10.9,5
1285,11.3,0.370,0.50,1.8,0.090,20,47,0.99734,3.15,0.57,10.5,5
1286,7.1,0.160,0.44,2.5,0.068,17,31,0.99328,3.35,0.54,12.4,6
1287,8.0,0.600,0.08,2.6,0.056,3,7,0.99286,3.22,0.37,13.0,5
1288,7.0,0.600,0.30,4.5,0.068,20,110,0.99914,3.30,1.17,10.2,5
1289,7.0,0.600,0.30,4.5,0.068,20,110,0.99914,3.30,1.17,10.2,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1290,7.6,0.740,0.00,1.9,0.100,6,12.0,0.99521,3.36,0.59,11.0,5
1291,8.2,0.635,0.10,2.1,0.073,25,60.0,0.99638,3.29,0.75,10.9,6
1292,5.9,0.395,0.13,2.4,0.056,14,28.0,0.99362,3.62,0.67,12.4,6
1293,7.5,0.755,0.00,1.9,0.084,6,12.0,0.99672,3.34,0.49,9.7,4
1294,8.2,0.635,0.10,2.1,0.073,25,60.0,0.99638,3.29,0.75,10.9,6
1295,6.6,0.630,0.00,4.3,0.093,51,77.5,0.99558,3.20,0.45,9.5,5
1296,6.6,0.630,0.00,4.3,0.093,51,77.5,0.99558,3.20,0.45,9.5,5
1297,7.2,0.530,0.14,2.1,0.064,15,29.0,0.99323,3.35,0.61,12.1,6
1298,5.7,0.600,0.00,1.4,0.063,11,18.0,0.99191,3.45,0.56,12.2,6
1299,7.6,1.580,0.00,2.1,0.137,5,9.0,0.99476,3.50,0.40,10.9,3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1300,5.2,0.645,0.00,2.15,0.080,15,28,0.99444,3.78,0.61,12.5,6
1301,6.7,0.860,0.07,2.00,0.100,20,57,0.99598,3.60,0.74,11.7,6
1302,9.1,0.370,0.32,2.10,0.064,4,15,0.99576,3.30,0.80,11.2,6
1303,8.0,0.280,0.44,1.80,0.081,28,68,0.99501,3.36,0.66,11.2,5
1304,7.6,0.790,0.21,2.30,0.087,21,68,0.99550,3.12,0.44,9.2,5
1305,7.5,0.610,0.26,1.90,0.073,24,88,0.99612,3.30,0.53,9.8,5
1306,9.7,0.690,0.32,2.50,0.088,22,91,0.99790,3.29,0.62,10.1,5
1307,6.8,0.680,0.09,3.90,0.068,15,29,0.99524,3.41,0.52,11.1,4
1308,9.7,0.690,0.32,2.50,0.088,22,91,0.99790,3.29,0.62,10.1,5
1309,7.0,0.620,0.10,1.40,0.071,27,63,0.99600,3.28,0.61,9.2,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1310,7.5,0.61,0.26,1.9,0.073,24,88,0.99612,3.30,0.53,9.8,5
1311,6.5,0.51,0.15,3.0,0.064,12,27,0.99290,3.33,0.59,12.8,6
1312,8.0,1.18,0.21,1.9,0.083,14,41,0.99532,3.34,0.47,10.5,5
1313,7.0,0.36,0.21,2.3,0.086,20,65,0.99558,3.40,0.54,10.1,6
1314,7.0,0.36,0.21,2.4,0.086,24,69,0.99556,3.40,0.53,10.1,6
1315,7.5,0.63,0.27,2.0,0.083,17,91,0.99616,3.26,0.58,9.8,6
1316,5.4,0.74,0.00,1.2,0.041,16,46,0.99258,4.01,0.59,12.5,6
1317,9.9,0.44,0.46,2.2,0.091,10,41,0.99638,3.18,0.69,11.9,6
1318,7.5,0.63,0.27,2.0,0.083,17,91,0.99616,3.26,0.58,9.8,6
1319,9.1,0.76,0.68,1.7,0.414,18,64,0.99652,2.90,1.33,9.1,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1320,9.7,0.66,0.34,2.6,0.094,12,88,0.99796,3.26,0.66,10.1,5
1321,5.0,0.74,0.00,1.2,0.041,16,46,0.99258,4.01,0.59,12.5,6
1322,9.1,0.34,0.42,1.8,0.058,9,18,0.99392,3.18,0.55,11.4,5
1323,9.1,0.36,0.39,1.8,0.060,21,55,0.99495,3.18,0.82,11.0,7
1324,6.7,0.46,0.24,1.7,0.077,18,34,0.99480,3.39,0.60,10.6,6
1325,6.7,0.46,0.24,1.7,0.077,18,34,0.99480,3.39,0.60,10.6,6
1326,6.7,0.46,0.24,1.7,0.077,18,34,0.99480,3.39,0.60,10.6,6
1327,6.7,0.46,0.24,1.7,0.077,18,34,0.99480,3.39,0.60,10.6,6
1328,6.5,0.52,0.11,1.8,0.073,13,38,0.99550,3.34,0.52,9.3,5
1329,7.4,0.60,0.26,2.1,0.083,17,91,0.99616,3.29,0.56,9.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1330,7.4,0.600,0.26,2.1,0.083,17,91,0.99616,3.29,0.56,9.8,6
1331,7.8,0.870,0.26,3.8,0.107,31,67,0.99668,3.26,0.46,9.2,5
1332,8.4,0.390,0.10,1.7,0.075,6,25,0.99581,3.09,0.43,9.7,6
1333,9.1,0.775,0.22,2.2,0.079,12,48,0.99760,3.18,0.51,9.6,5
1334,7.2,0.835,0.00,2.0,0.166,4,11,0.99608,3.39,0.52,10.0,5
1335,6.6,0.580,0.02,2.4,0.069,19,40,0.99387,3.38,0.66,12.6,6
1336,6.0,0.500,0.00,1.4,0.057,15,26,0.99448,3.36,0.45,9.5,5
1337,6.0,0.500,0.00,1.4,0.057,15,26,0.99448,3.36,0.45,9.5,5
1338,6.0,0.500,0.00,1.4,0.057,15,26,0.99448,3.36,0.45,9.5,5
1339,7.5,0.510,0.02,1.7,0.084,13,31,0.99538,3.36,0.54,10.5,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1340,7.5,0.510,0.02,1.7,0.084,13,31,0.99538,3.36,0.54,10.5,6
1341,7.5,0.510,0.02,1.7,0.084,13,31,0.99538,3.36,0.54,10.5,6
1342,7.6,0.540,0.02,1.7,0.085,17,31,0.99589,3.37,0.51,10.4,6
1343,7.5,0.510,0.02,1.7,0.084,13,31,0.99538,3.36,0.54,10.5,6
1344,11.5,0.420,0.48,2.6,0.077,8,20,0.99852,3.09,0.53,11.0,5
1345,8.2,0.440,0.24,2.3,0.063,10,28,0.99613,3.25,0.53,10.2,6
1346,6.1,0.590,0.01,2.1,0.056,5,13,0.99472,3.52,0.56,11.4,5
1347,7.2,0.655,0.03,1.8,0.078,7,12,0.99587,3.34,0.39,9.5,5
1348,7.2,0.655,0.03,1.8,0.078,7,12,0.99587,3.34,0.39,9.5,5
1349,6.9,0.570,0.00,2.8,0.081,21,41,0.99518,3.41,0.52,10.8,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1350,9.0,0.600,0.29,2.0,0.069,32,73,0.99654,3.34,0.57,10.000000,5
1351,7.2,0.620,0.01,2.3,0.065,8,46,0.99332,3.32,0.51,11.800000,6
1352,7.6,0.645,0.03,1.9,0.086,14,57,0.99690,3.37,0.46,10.300000,5
1353,7.6,0.645,0.03,1.9,0.086,14,57,0.99690,3.37,0.46,10.300000,5
1354,7.2,0.580,0.03,2.3,0.077,7,28,0.99568,3.35,0.52,10.000000,5
1355,6.1,0.320,0.25,1.8,0.086,5,32,0.99464,3.36,0.44,10.100000,5
1356,6.1,0.340,0.25,1.8,0.084,4,28,0.99464,3.36,0.44,10.100000,5
1357,7.3,0.430,0.24,2.5,0.078,27,67,0.99648,3.60,0.59,11.100000,6
1358,7.4,0.640,0.17,5.4,0.168,52,98,0.99736,3.28,0.50,9.500000,5
1359,11.6,0.475,0.40,1.4,0.091,6,28,0.99704,3.07,0.65,10.033333,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1360,9.2,0.540,0.31,2.3,0.112,11,38,0.99699,3.24,0.56,10.900000,5
1361,8.3,0.850,0.14,2.5,0.093,13,54,0.99724,3.36,0.54,10.100000,5
1362,11.6,0.475,0.40,1.4,0.091,6,28,0.99704,3.07,0.65,10.033333,6
1363,8.0,0.830,0.27,2.0,0.080,11,63,0.99652,3.29,0.48,9.800000,4
1364,7.2,0.605,0.02,1.9,0.096,10,31,0.99500,3.46,0.53,11.800000,6
1365,7.8,0.500,0.09,2.2,0.115,10,42,0.99710,3.18,0.62,9.500000,5
1366,7.3,0.740,0.08,1.7,0.094,10,45,0.99576,3.24,0.50,9.800000,5
1367,6.9,0.540,0.30,2.2,0.088,9,105,0.99725,3.25,1.18,10.500000,6
1368,8.0,0.770,0.32,2.1,0.079,16,74,0.99656,3.27,0.50,9.800000,6
1369,6.6,0.610,0.00,1.6,0.069,4,8,0.99396,3.33,0.37,10.400000,4

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1370,8.7,0.780,0.51,1.7,0.415,12,66,0.99623,3.00,1.17,9.2,5
1371,7.5,0.580,0.56,3.1,0.153,5,14,0.99476,3.21,1.03,11.6,6
1372,8.7,0.780,0.51,1.7,0.415,12,66,0.99623,3.00,1.17,9.2,5
1373,7.7,0.750,0.27,3.8,0.110,34,89,0.99664,3.24,0.45,9.3,5
1374,6.8,0.815,0.00,1.2,0.267,16,29,0.99471,3.32,0.51,9.8,3
1375,7.2,0.560,0.26,2.0,0.083,13,100,0.99586,3.26,0.52,9.9,5
1376,8.2,0.885,0.20,1.4,0.086,7,31,0.99460,3.11,0.46,10.0,5
1377,5.2,0.490,0.26,2.3,0.090,23,74,0.99530,3.71,0.62,12.2,6
1378,7.2,0.450,0.15,2.0,0.078,10,28,0.99609,3.29,0.51,9.9,6
1379,7.5,0.570,0.02,2.6,0.077,11,35,0.99557,3.36,0.62,10.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1380,7.5,0.570,0.02,2.6,0.077,11,35,0.99557,3.36,0.62,10.8,6
1381,6.8,0.830,0.09,1.8,0.074,4,25,0.99534,3.38,0.45,9.6,5
1382,8.0,0.600,0.22,2.1,0.080,25,105,0.99613,3.30,0.49,9.9,5
1383,8.0,0.600,0.22,2.1,0.080,25,105,0.99613,3.30,0.49,9.9,5
1384,7.1,0.755,0.15,1.8,0.107,20,84,0.99593,3.19,0.50,9.5,5
1385,8.0,0.810,0.25,3.4,0.076,34,85,0.99668,3.19,0.42,9.2,5
1386,7.4,0.640,0.07,1.8,0.100,8,23,0.99610,3.30,0.58,9.6,5
1387,7.4,0.640,0.07,1.8,0.100,8,23,0.99610,3.30,0.58,9.6,5
1388,6.6,0.640,0.31,6.1,0.083,7,49,0.99718,3.35,0.68,10.3,5
1389,6.7,0.480,0.02,2.2,0.080,36,111,0.99524,3.10,0.53,9.7,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1390,6.0,0.490,0.00,2.3,0.068,15,33,0.99292,3.58,0.59,12.50,6
1391,8.0,0.640,0.22,2.4,0.094,5,33,0.99612,3.37,0.58,11.00,5
1392,7.1,0.620,0.06,1.3,0.070,5,12,0.99420,3.17,0.48,9.80,5
1393,8.0,0.520,0.25,2.0,0.078,19,59,0.99612,3.30,0.48,10.20,5
1394,6.4,0.570,0.14,3.9,0.070,27,73,0.99669,3.32,0.48,9.20,5
1395,8.6,0.685,0.10,1.6,0.092,3,12,0.99745,3.31,0.65,9.55,6
1396,8.7,0.675,0.10,1.6,0.090,4,11,0.99745,3.31,0.65,9.55,5
1397,7.3,0.590,0.26,2.0,0.080,17,104,0.99584,3.28,0.52,9.90,5
1398,7.0,0.600,0.12,2.2,0.083,13,28,0.99660,3.52,0.62,10.20,7
1399,7.2,0.670,0.00,2.2,0.068,10,24,0.99560,3.42,0.72,11.10,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1400,7.9,0.69,0.21,2.1,0.080,33,141,0.9962,3.25,0.51,9.9,5
1401,7.9,0.69,0.21,2.1,0.080,33,141,0.9962,3.25,0.51,9.9,5
1402,7.6,0.30,0.42,2.0,0.052,6,24,0.9963,3.44,0.82,11.9,6
1403,7.2,0.33,0.33,1.7,0.061,3,13,0.9960,3.23,1.10,10.0,8
1404,8.0,0.50,0.39,2.6,0.082,12,46,0.9985,3.43,0.62,10.7,6
1405,7.7,0.28,0.30,2.0,0.062,18,34,0.9952,3.28,0.90,11.3,7
1406,8.2,0.24,0.34,5.1,0.062,8,22,0.9974,3.22,0.94,10.9,6
1407,6.0,0.51,0.00,2.1,0.064,40,54,0.9950,3.54,0.93,10.7,6
1408,8.1,0.29,0.36,2.2,0.048,35,53,0.9950,3.27,1.01,12.4,7
1409,6.0,0.51,0.00,2.1,0.064,40,54,0.9950,3.54,0.93,10.7,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1410,6.6,0.96,0.00,1.8,0.082,5,16,0.9936,3.50,0.44,11.9,6
1411,6.4,0.47,0.40,2.4,0.071,8,19,0.9963,3.56,0.73,10.6,6
1412,8.2,0.24,0.34,5.1,0.062,8,22,0.9974,3.22,0.94,10.9,6
1413,9.9,0.57,0.25,2.0,0.104,12,89,0.9963,3.04,0.90,10.1,5
1414,10.0,0.32,0.59,2.2,0.077,3,15,0.9994,3.20,0.78,9.6,5
1415,6.2,0.58,0.00,1.6,0.065,8,18,0.9966,3.56,0.84,9.4,5
1416,10.0,0.32,0.59,2.2,0.077,3,15,0.9994,3.20,0.78,9.6,5
1417,7.3,0.34,0.33,2.5,0.064,21,37,0.9952,3.35,0.77,12.1,7
1418,7.8,0.53,0.01,1.6,0.077,3,19,0.9950,3.16,0.46,9.8,5
1419,7.7,0.64,0.21,2.2,0.077,32,133,0.9956,3.27,0.45,9.9,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1420,7.8,0.53,0.01,1.6,0.077,3,19,0.9950,3.16,0.46,9.8,5
1421,7.5,0.40,0.18,1.6,0.079,24,58,0.9965,3.34,0.58,9.4,5
1422,7.0,0.54,0.00,2.1,0.079,39,55,0.9956,3.39,0.84,11.4,6
1423,6.4,0.53,0.09,3.9,0.123,14,31,0.9968,3.50,0.67,11.0,4
1424,8.3,0.26,0.37,1.4,0.076,8,23,0.9974,3.26,0.70,9.6,6
1425,8.3,0.26,0.37,1.4,0.076,8,23,0.9974,3.26,0.70,9.6,6
1426,7.7,0.23,0.37,1.8,0.046,23,60,0.9971,3.41,0.71,12.1,6
1427,7.6,0.41,0.33,2.5,0.078,6,23,0.9957,3.30,0.58,11.2,5
1428,7.8,0.64,0.00,1.9,0.072,27,55,0.9962,3.31,0.63,11.0,5
1429,7.9,0.18,0.40,2.2,0.049,38,67,0.9960,3.33,0.93,11.3,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1430,7.4,0.410,0.24,1.8,0.066,18,47,0.99560,3.37,0.62,10.400000,5
1431,7.6,0.430,0.31,2.1,0.069,13,74,0.99580,3.26,0.54,9.900000,6
1432,5.9,0.440,0.00,1.6,0.042,3,11,0.99440,3.48,0.85,11.700000,6
1433,6.1,0.400,0.16,1.8,0.069,11,25,0.99550,3.42,0.74,10.100000,7
1434,10.2,0.540,0.37,15.4,0.214,55,95,1.00369,3.18,0.77,9.000000,6
1435,10.2,0.540,0.37,15.4,0.214,55,95,1.00369,3.18,0.77,9.000000,6
1436,10.0,0.380,0.38,1.6,0.169,27,90,0.99914,3.15,0.65,8.500000,5
1437,6.8,0.915,0.29,4.8,0.070,15,39,0.99577,3.53,0.54,11.100000,5
1438,7.0,0.590,0.00,1.7,0.052,3,8,0.99600,3.41,0.47,10.300000,5
1439,7.3,0.670,0.02,2.2,0.072,31,92,0.99566,3.32,0.68,11.066667,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1440,7.2,0.370,0.32,2.00,0.062,15,28,0.99470,3.23,0.73,11.300000,7
1441,7.4,0.785,0.19,5.20,0.094,19,98,0.99713,3.16,0.52,9.566667,6
1442,6.9,0.630,0.02,1.90,0.078,18,30,0.99712,3.40,0.75,9.800000,5
1443,6.9,0.580,0.20,1.75,0.058,8,22,0.99322,3.38,0.49,11.700000,5
1444,7.3,0.670,0.02,2.20,0.072,31,92,0.99566,3.32,0.68,11.100000,6
1445,7.4,0.785,0.19,5.20,0.094,19,98,0.99713,3.16,0.52,9.600000,6
1446,6.9,0.630,0.02,1.90,0.078,18,30,0.99712,3.40,0.75,9.800000,5
1447,6.8,0.670,0.00,1.90,0.080,22,39,0.99701,3.40,0.74,9.700000,5
1448,6.9,0.580,0.01,1.90,0.080,40,54,0.99683,3.40,0.73,9.700000,5
1449,7.2,0.380,0.31,2.00,0.056,15,29,0.99472,3.23,0.76,11.300000,8

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1450,7.2,0.37,0.32,2.0,0.062,15,28,0.99470,3.23,0.73,11.30,7
1451,7.8,0.32,0.44,2.7,0.104,8,17,0.99732,3.33,0.78,11.00,7
1452,6.6,0.58,0.02,2.0,0.062,37,53,0.99374,3.35,0.76,11.60,7
1453,7.6,0.49,0.33,1.9,0.074,27,85,0.99706,3.41,0.58,9.00,5
1454,11.7,0.45,0.63,2.2,0.073,7,23,0.99974,3.21,0.69,10.90,6
1455,6.5,0.90,0.00,1.6,0.052,9,17,0.99467,3.50,0.63,10.90,6
1456,6.0,0.54,0.06,1.8,0.050,38,89,0.99236,3.30,0.50,10.55,6
1457,7.6,0.49,0.33,1.9,0.074,27,85,0.99706,3.41,0.58,9.00,5
1458,8.4,0.29,0.40,1.7,0.067,8,20,0.99603,3.39,0.60,10.50,5
1459,7.9,0.20,0.35,1.7,0.054,7,15,0.99458,3.32,0.80,11.90,7

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1460,6.4,0.420,0.09,2.3,0.054,34,64,0.99724,3.41,0.68,10.4,6
1461,6.2,0.785,0.00,2.1,0.060,6,13,0.99664,3.59,0.61,10.0,4
1462,6.8,0.640,0.03,2.3,0.075,14,31,0.99545,3.36,0.58,10.4,6
1463,6.9,0.630,0.01,2.4,0.076,14,39,0.99522,3.34,0.53,10.8,6
1464,6.8,0.590,0.10,1.7,0.063,34,53,0.99580,3.41,0.67,9.7,5
1465,6.8,0.590,0.10,1.7,0.063,34,53,0.99580,3.41,0.67,9.7,5
1466,7.3,0.480,0.32,2.1,0.062,31,54,0.99728,3.30,0.65,10.0,7
1467,6.7,1.040,0.08,2.3,0.067,19,32,0.99648,3.52,0.57,11.0,4
1468,7.3,0.480,0.32,2.1,0.062,31,54,0.99728,3.30,0.65,10.0,7
1469,7.3,0.980,0.05,2.1,0.061,20,49,0.99705,3.31,0.55,9.7,3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1470,10.0,0.690,0.11,1.40,0.084,8,24,0.99578,2.88,0.47,9.700000,5
1471,6.7,0.700,0.08,3.75,0.067,8,16,0.99334,3.43,0.52,12.600000,5
1472,7.6,0.350,0.60,2.60,0.073,23,44,0.99656,3.38,0.79,11.100000,6
1473,6.1,0.600,0.08,1.80,0.071,14,45,0.99336,3.38,0.54,11.000000,5
1474,9.9,0.500,0.50,13.80,0.205,48,82,1.00242,3.16,0.75,8.800000,5
1475,5.3,0.470,0.11,2.20,0.048,16,89,0.99182,3.54,0.88,13.566667,7
1476,9.9,0.500,0.50,13.80,0.205,48,82,1.00242,3.16,0.75,8.800000,5
1477,5.3,0.470,0.11,2.20,0.048,16,89,0.99182,3.54,0.88,13.600000,7
1478,7.1,0.875,0.05,5.70,0.082,3,14,0.99808,3.40,0.52,10.200000,3
1479,8.2,0.280,0.60,3.00,0.104,10,22,0.99828,3.39,0.68,10.600000,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1480,5.6,0.620,0.03,1.5,0.080,6,13,0.99498,3.66,0.62,10.1,4
1481,8.2,0.280,0.60,3.0,0.104,10,22,0.99828,3.39,0.68,10.6,5
1482,7.2,0.580,0.54,2.1,0.114,3,9,0.99719,3.33,0.57,10.3,4
1483,8.1,0.330,0.44,1.5,0.042,6,12,0.99542,3.35,0.61,10.7,5
1484,6.8,0.910,0.06,2.0,0.060,4,11,0.99592,3.53,0.64,10.9,4
1485,7.0,0.655,0.16,2.1,0.074,8,25,0.99606,3.37,0.55,9.7,5
1486,6.8,0.680,0.21,2.1,0.070,9,23,0.99546,3.38,0.60,10.3,5
1487,6.0,0.640,0.05,1.9,0.066,9,17,0.99496,3.52,0.78,10.6,5
1488,5.6,0.540,0.04,1.7,0.049,5,13,0.99420,3.72,0.58,11.4,5
1489,6.2,0.570,0.10,2.1,0.048,4,11,0.99448,3.44,0.76,10.8,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1490,7.1,0.220,0.49,1.8,0.039,8,18,0.99344,3.39,0.56,12.40,6
1491,5.6,0.540,0.04,1.7,0.049,5,13,0.99420,3.72,0.58,11.40,5
1492,6.2,0.650,0.06,1.6,0.050,6,18,0.99348,3.57,0.54,11.95,5
1493,7.7,0.540,0.26,1.9,0.089,23,147,0.99636,3.26,0.59,9.70,5
1494,6.4,0.310,0.09,1.4,0.066,15,28,0.99459,3.42,0.70,10.00,7
1495,7.0,0.430,0.02,1.9,0.080,15,28,0.99492,3.35,0.81,10.60,6
1496,7.7,0.540,0.26,1.9,0.089,23,147,0.99636,3.26,0.59,9.70,5
1497,6.9,0.740,0.03,2.3,0.054,7,16,0.99508,3.45,0.63,11.50,6
1498,6.6,0.895,0.04,2.3,0.068,7,13,0.99582,3.53,0.58,10.80,6
1499,6.9,0.740,0.03,2.3,0.054,7,16,0.99508,3.45,0.63,11.50,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1500,7.5,0.725,0.04,1.5,0.076,8,15,0.99508,3.26,0.53,9.60,5
1501,7.8,0.820,0.29,4.3,0.083,21,64,0.99642,3.16,0.53,9.40,5
1502,7.3,0.585,0.18,2.4,0.078,15,60,0.99638,3.31,0.54,9.80,5
1503,6.2,0.440,0.39,2.5,0.077,6,14,0.99555,3.51,0.69,11.00,6
1504,7.5,0.380,0.57,2.3,0.106,5,12,0.99605,3.36,0.55,11.40,6
1505,6.7,0.760,0.02,1.8,0.078,6,12,0.99600,3.55,0.63,9.95,3
1506,6.8,0.810,0.05,2.0,0.070,6,14,0.99562,3.51,0.66,10.80,6
1507,7.5,0.380,0.57,2.3,0.106,5,12,0.99605,3.36,0.55,11.40,6
1508,7.1,0.270,0.60,2.1,0.074,17,25,0.99814,3.38,0.72,10.60,6
1509,7.9,0.180,0.40,1.8,0.062,7,20,0.99410,3.28,0.70,11.10,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1510,6.4,0.36,0.21,2.2,0.047,26,48,0.99661,3.47,0.77,9.700000,6
1511,7.1,0.69,0.04,2.1,0.068,19,27,0.99712,3.44,0.67,9.800000,5
1512,6.4,0.79,0.04,2.2,0.061,11,17,0.99588,3.53,0.65,10.400000,6
1513,6.4,0.56,0.15,1.8,0.078,17,65,0.99294,3.33,0.60,10.500000,6
1514,6.9,0.84,0.21,4.1,0.074,16,65,0.99842,3.53,0.72,9.233333,6
1515,6.9,0.84,0.21,4.1,0.074,16,65,0.99842,3.53,0.72,9.250000,6
1516,6.1,0.32,0.25,2.3,0.071,23,58,0.99633,3.42,0.97,10.600000,5
1517,6.5,0.53,0.06,2.0,0.063,29,44,0.99489,3.38,0.83,10.300000,6
1518,7.4,0.47,0.46,2.2,0.114,7,20,0.99647,3.32,0.63,10.500000,5
1519,6.6,0.70,0.08,2.6,0.106,14,27,0.99665,3.44,0.58,10.200000,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1520,6.5,0.53,0.06,2.0,0.063,29,44,0.99489,3.38,0.83,10.30,6
1521,6.9,0.48,0.20,1.9,0.082,9,23,0.99585,3.39,0.43,9.05,4
1522,6.1,0.32,0.25,2.3,0.071,23,58,0.99633,3.42,0.97,10.60,5
1523,6.8,0.48,0.25,2.0,0.076,29,61,0.99530,3.34,0.60,10.40,5
1524,6.0,0.42,0.19,2.0,0.075,22,47,0.99522,3.39,0.78,10.00,6
1525,6.7,0.48,0.08,2.1,0.064,18,34,0.99552,3.33,0.64,9.70,5
1526,6.8,0.47,0.08,2.2,0.064,18,38,0.99553,3.30,0.65,9.60,6
1527,7.1,0.53,0.07,1.7,0.071,15,24,0.99510,3.29,0.66,10.80,6
1528,7.9,0.29,0.49,2.2,0.096,21,59,0.99714,3.31,0.67,10.10,6
1529,7.1,0.69,0.08,2.1,0.063,42,52,0.99608,3.42,0.60,10.20,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1530,6.6,0.440,0.09,2.2,0.063,9,18,0.99444,3.42,0.69,11.3,6
1531,6.1,0.705,0.10,2.8,0.081,13,28,0.99631,3.60,0.66,10.2,5
1532,7.2,0.530,0.13,2.0,0.058,18,22,0.99573,3.21,0.68,9.9,6
1533,8.0,0.390,0.30,1.9,0.074,32,84,0.99717,3.39,0.61,9.0,5
1534,6.6,0.560,0.14,2.4,0.064,13,29,0.99397,3.42,0.62,11.7,7
1535,7.0,0.550,0.13,2.2,0.075,15,35,0.99590,3.36,0.59,9.7,6
1536,6.1,0.530,0.08,1.9,0.077,24,45,0.99528,3.60,0.68,10.3,6
1537,5.4,0.580,0.08,1.9,0.059,20,31,0.99484,3.50,0.64,10.2,6
1538,6.2,0.640,0.09,2.5,0.081,15,26,0.99538,3.57,0.63,12.0,5
1539,7.2,0.390,0.32,1.8,0.065,34,60,0.99714,3.46,0.78,9.9,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1540,6.2,0.520,0.08,4.4,0.071,11,32,0.99646,3.56,0.63,11.60,6
1541,7.4,0.250,0.29,2.2,0.054,19,49,0.99666,3.40,0.76,10.90,7
1542,6.7,0.855,0.02,1.9,0.064,29,38,0.99472,3.30,0.56,10.75,6
1543,11.1,0.440,0.42,2.2,0.064,14,19,0.99758,3.25,0.57,10.40,6
1544,8.4,0.370,0.43,2.3,0.063,12,19,0.99550,3.17,0.81,11.20,7
1545,6.5,0.630,0.33,1.8,0.059,16,28,0.99531,3.36,0.64,10.10,6
1546,7.0,0.570,0.02,2.0,0.072,17,26,0.99575,3.36,0.61,10.20,5
1547,6.3,0.600,0.10,1.6,0.048,12,26,0.99306,3.55,0.51,12.10,5
1548,11.2,0.400,0.50,2.0,0.099,19,50,0.99783,3.10,0.58,10.40,5
1549,7.4,0.360,0.30,1.8,0.074,17,24,0.99419,3.24,0.70,11.40,8

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1550,7.1,0.680,0.00,2.3,0.087,17,26,0.99783,3.45,0.53,9.50,5
1551,7.1,0.670,0.00,2.3,0.083,18,27,0.99768,3.44,0.54,9.40,5
1552,6.3,0.680,0.01,3.7,0.103,32,54,0.99586,3.51,0.66,11.30,6
1553,7.3,0.735,0.00,2.2,0.080,18,28,0.99765,3.41,0.60,9.40,5
1554,6.6,0.855,0.02,2.4,0.062,15,23,0.99627,3.54,0.60,11.00,6
1555,7.0,0.560,0.17,1.7,0.065,15,24,0.99514,3.44,0.68,10.55,7
1556,6.6,0.880,0.04,2.2,0.066,12,20,0.99636,3.53,0.56,9.90,5
1557,6.6,0.855,0.02,2.4,0.062,15,23,0.99627,3.54,0.60,11.00,6
1558,6.9,0.630,0.33,6.7,0.235,66,115,0.99787,3.22,0.56,9.50,5
1559,7.8,0.600,0.26,2.0,0.080,31,131,0.99622,3.21,0.52,9.90,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1560,7.8,0.600,0.26,2.0,0.080,31,131,0.99622,3.21,0.52,9.9,5
1561,7.8,0.600,0.26,2.0,0.080,31,131,0.99622,3.21,0.52,9.9,5
1562,7.2,0.695,0.13,2.0,0.076,12,20,0.99546,3.29,0.54,10.1,5
1563,7.2,0.695,0.13,2.0,0.076,12,20,0.99546,3.29,0.54,10.1,5
1564,7.2,0.695,0.13,2.0,0.076,12,20,0.99546,3.29,0.54,10.1,5
1565,6.7,0.670,0.02,1.9,0.061,26,42,0.99489,3.39,0.82,10.9,6
1566,6.7,0.160,0.64,2.1,0.059,24,52,0.99494,3.34,0.71,11.2,6
1567,7.2,0.695,0.13,2.0,0.076,12,20,0.99546,3.29,0.54,10.1,5
1568,7.0,0.560,0.13,1.6,0.077,25,42,0.99629,3.34,0.59,9.2,5
1569,6.2,0.510,0.14,1.9,0.056,15,34,0.99396,3.48,0.57,11.5,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1570,6.4,0.36,0.53,2.2,0.230,19,35,0.99340,3.37,0.93,12.4,6
1571,6.4,0.38,0.14,2.2,0.038,15,25,0.99514,3.44,0.65,11.1,6
1572,7.3,0.69,0.32,2.2,0.069,35,104,0.99632,3.33,0.51,9.5,5
1573,6.0,0.58,0.20,2.4,0.075,15,50,0.99467,3.58,0.67,12.5,6
1574,5.6,0.31,0.78,13.9,0.074,23,92,0.99677,3.39,0.48,10.5,6
1575,7.5,0.52,0.40,2.2,0.060,12,20,0.99474,3.26,0.64,11.8,6
1576,8.0,0.30,0.63,1.6,0.081,16,29,0.99588,3.30,0.78,10.8,6
1577,6.2,0.70,0.15,5.1,0.076,13,27,0.99622,3.54,0.60,11.9,6
1578,6.8,0.67,0.15,1.8,0.118,13,20,0.99540,3.42,0.67,11.3,6
1579,6.2,0.56,0.09,1.7,0.053,24,32,0.99402,3.54,0.60,11.3,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1580,7.4,0.350,0.33,2.4,0.068,9,26,0.99470,3.36,0.60,11.9,6
1581,6.2,0.560,0.09,1.7,0.053,24,32,0.99402,3.54,0.60,11.3,5
1582,6.1,0.715,0.10,2.6,0.053,13,27,0.99362,3.57,0.50,11.9,5
1583,6.2,0.460,0.29,2.1,0.074,32,98,0.99578,3.33,0.62,9.8,5
1584,6.7,0.320,0.44,2.4,0.061,24,34,0.99484,3.29,0.80,11.6,7
1585,7.2,0.390,0.44,2.6,0.066,22,48,0.99494,3.30,0.84,11.5,6
1586,7.5,0.310,0.41,2.4,0.065,34,60,0.99492,3.34,0.85,11.4,6
1587,5.8,0.610,0.11,1.8,0.066,18,28,0.99483,3.55,0.66,10.9,6
1588,7.2,0.660,0.33,2.5,0.068,34,102,0.99414,3.27,0.78,12.8,6
1589,6.6,0.725,0.20,7.8,0.073,29,79,0.99770,3.29,0.54,9.2,5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1590,6.3,0.550,0.15,1.8,0.077,26,35,0.99314,3.32,0.82,11.6,6
1591,5.4,0.740,0.09,1.7,0.089,16,26,0.99402,3.67,0.56,11.6,6
1592,6.3,0.510,0.13,2.3,0.076,29,40,0.99574,3.42,0.75,11.0,6
1593,6.8,0.620,0.08,1.9,0.068,28,38,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32,44,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39,51,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29,40,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32,44,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18,42,0.99549,3.39,0.66,11.0,6

In [46]:
less my_wine2.csv

## Other functions when reading data

There are way too many options with `.read_csv()`

In [47]:
# Have a look in the documentation
pd.read_csv?

In [49]:
less ../datasets/pokemon.csv

In [48]:
# Medium difficulty: header, skiprows, nrows, index_col

pd.read_csv('../datasets/pokemon.csv', skiprows=5, nrows=10)

,4,Charmander,Fire,Unnamed: 3,39,52,43,60,50,65,1,False
0,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
1,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
2,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
3,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
4,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
5,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
6,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
7,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
8,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
9,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False